<!-- Space title and basics -->

<%= inline_editable :basics, :h1,  @space.title  do %>

  <!-- Meta information listing -->

  <div class="flex gap-4 mb-2.5">

    <div class="flex gap-2" title="<%= t('space_show.number_of_reviews', count: @space.reviews.count) %>">
      <%= inline_svg_tag 'star', class: @space.star_rating ? "text-pink-600" : "text-gray-300" %>
      <span>
          <%= @space.star_rating_s %>
          <% if @space.reviews.count > 0 %>
            <span class="opacity-50">(<%=  @space.reviews.count %>)</span>
          <% end %>
        </span>
    </div>

    <div class="flex gap-2">
      <%= inline_svg_tag 'building', class: 'text-pink-600' %>
      <span>
        <%= @space.space_type.type_name.humanize %>
      </span>
    </div>

  </div>
  <div class="flex gap-2">
    <%= inline_svg_tag 'place' %>
    <span>
        <%= @space.address %>,
      <%= @space.post_number %>
      <%= @space.post_address %>
      </span>
  </div>
  <% if @space.url.present? %>
    <div class="flex gap-2 mt-2">
      <%= inline_svg_tag 'url' %>
      <span>
        <%= link_to @space.url, @space.url %>
      </span>
    </div>
  <% end %>
<% end %>
