<!-- Space title and basics -->

<%= inline_editable :basics, h1:  @space.title  do %>

  <!-- Meta information listing -->

  <div class="flex gap-4 mb-2.5">

    <div class="flex gap-2">
      <%= inline_svg_tag 'star', class: @space.star_rating ? "text-pink-600" : "text-gray-300" %>
      <span>
          <%= @space.star_rating || '-' %>
          <span class="opacity-50">(<%=  @space.reviews.count %>)</span>
        </span>
    </div>

    <div class="flex gap-2">
      <%= inline_svg_tag 'building' %>
      <span>
            <%= @space.space_type.type_name %>
        <% if @space.fits_people %>
                <span>(<%= @space.fits_people %> elever)</span>
            <% end %>
          </span>
    </div>

  </div>
  <div class="flex gap-2">
    <%= inline_svg_tag 'place' %>
    <span>
        <%= @space.address %>,
      <%= @space.post_number %>
      <%= @space.post_address %>
      </span>
  </div>
<% end %>
