<%# locals: (facility:, space:) %>
<%
  id = facility[:id]
  title = facility[:title]
  review = facility[:review]
  description = facility[:description]
  tooltip = facility[:tooltip]
  category_id = facility[:category_id]

  facility_review =
    facility[:current_user_review] ||
    FacilityReview.new(facility_id: id, space_id: @space, user: current_user)
%>
<li
  title="<%= tooltip %>">
  <%= turbo_frame_tag dom_id(facility_review, "category_#{category_id}__facility_#{id}__") do %>
    <span class="flex items-center gap-1.5 <%= "line-through text-gray-600" if review == "impossible" %>">
      <%= title %>
      <span>
        <%= inline_svg_tag "facility_status/#{review}" %>
      </span>
    </span>
    <% unless description.nil? %>
      <div class="text-gray-400 mb-1.5">
        <%= description %>
      </div>
    <% end %>
  <% end %>
</li>
