<%# locals: (facility:, space:) %>
<%
  id = facility[:id]
  title = facility[:title]
  review = facility[:review]
  description = facility[:description]
  category_id = facility[:category_id]
  facility_review = facility[:current_user_review]
%>
<li
  title="<%= t("tooltips.others_experience.#{review}") %>">
  <%= turbo_frame_tag dom_id(facility_review, "category_#{category_id}__facility_#{id}__") do %>
    <div class="flex gap-2 text-lg items-center">
      <h4 class="text-base <%= "line-through text-gray-600" if review == "impossible" %>"><%= title %></h4>

      <%= inline_svg_tag "facility_status/#{review}", class: "#{" text-black " if review == "impossible" }" %>

      <%= link_to new_facility_review_path(
                    space_id: @space.id,
                    facility_id: id,
                    facility_category_id: category_id,
                  ), class: 'edit-button edit-button--small collapsible' do %>
        <span class="text">
          <%= t('space_edit.edit') %>
        </span>
        <%= inline_svg_tag 'edit', alt: 'Redigér', title: 'Redigér' %>
      <% end %>

    </div>

    <% unless description.nil? %>
      <div class="text-gray-400 mb-1.5">
        <%= description %>
      </div>
    <% end %>
  <% end %>
</li>
