<%= inline_editable :facility_description  do %>
  <%= @space.facility_description %>
<% end %>

<h2><%= Facility.model_name.human(count: 2) %></h2>

<% FacilityCategory.all.each_with_index do |facilityCategory, index| %>
  <%=
    # Header isn't needed if these are just the normal facilities, and
    # we don't have any selected. When we do get 'filtered' or 'selected'
    # facilities ("Facilities we are looking for"), also the first facilityCategory
    # header should be included as "Andre fasiliteter"
    tag.h3 facilityCategory.title unless index == 0
  %>

  <ul class="grid grid-cols-2 gap-2 mt-2">
    <% @space.facilities_in_category(facilityCategory).each do |facility| %>
      <%= render partial: 'spaces/show/facility_item', locals: {
        icon: facility[:icon],
        title: facility[:title],
        review: facility[:review],
        tooltip: t("tooltips.facility_aggregated_experience.#{facility[:review]}")
      } %>
    <% end %>
  </ul>
<% end %>
