<div class="relative">
  <div class="overflow-auto flex gap-2">
    <% images.each do |image| %>
      <div class="relative pb-2/3 w-full inline-block flex-shrink-0">
        <img class="bg-gray-300 absolute h-full w-full object-cover" src="<%=(url_for(image))%>" />
      </div>
    <% end %>
  </div>

  <%= form_with url: spaces_upload_image_path, class:"absolute right-2 top-2" do |f| %>
    <%= f.hidden_field :id, value: @space.id %>
    <%= f.file_field :image, accept: 'image/png,image/gif,image/jpeg', multiple: true, class: "hidden", onchange: "this.form.submit()" %>
    <%= f.label :image, role: "button" do %>
      <div class="w-10 h-10 bg-gray-600 rounded">
        <%= inline_svg 'camera', class: "text-gray-200 flex w-full h-full p-1", alt: t('images.upload'), title:  t('images.upload') %>
      </div>
    <% end %>
  <% end %>
</div>
