<div id="reviews">
  <% if @space.reviews.any? %>
    <div class="flex gap-2 items-baseline justify-between">
      <h2><%= Review.model_name.human(count: 2).capitalize %></h2>
      <%= render partial: 'spaces/show/review_link_to_new_review' %>
    </div>

    <ul class="horizontal-cards">
      <% @space.reviews.reverse.each do |review| %>
        <%= render partial: 'spaces/show/review_card', locals: {review: review}  %>
      <% end %>
    </ul>
  <% else %>
    <h2><%= Review.model_name.human(count: 2).capitalize %></h2>
    <%= render partial: 'spaces/show/review_none_yet' %>
  <% end %>
</div>
