<div class="flex gap-2 items-baseline justify-between">
  <h2><%= Review.model_name.human(count: 2) %></h2>
  <%= link_to t('reviews.add_review'), new_review_path, class: 'inline-block border border-pink-600 py-2 px-4 rounded-md' %>
</div>


<% if @space.reviews.any? %>
  <ul class="horizontal-cards">
    <% @space.reviews.each do |review| %>
      <li class="horizontal-card">
        <%= turbo_frame_tag review do %>
          <%=  render partial: 'reviews/review_card', locals: {review: review}   %>
        <% end %>
      </li>
  <% end %>
  </ul>
<% else %>
  <%= render partial: 'spaces/show/review_none_yet' %>
<% end %>
