<%# locals: (space:, css_classes: 'edit-button collapsable collapsable--to-right', text: nil) %>
<%= button_to_modal :new_review_path, class: css_classes do %>
  <%= inline_svg_tag "plus", class: "w-3 h-3" %>
  <span class="text">
    <%= text || t('reviews.add_review') %>
  </span>
<% end %>

<%= modal_for :new_review_path, "modal--with-header-and-footer " do %>
  <%= turbo_frame_tag :new_review_path, src: new_review_path(space) %>
<% end %>
