<%= inline_editable :where  do %>

  <div class="flex gap-1 mb-3">
    <%= inline_svg_tag 'place' %>
    <span>
      <%= @space.address %>,
      <%= @space.post_number %>
      <%= @space.post_address %>
    </span>
  </div>
   <div class="flex gap-1 mb-3">
    <span>
      <%= @space.location_description %>
    </span>
  </div>
  <%= render partial: "spaces/show/static_map" %>

<% end %>
