<% if blob.representable? # Is an image, or is representable as an image. Let the user view it. %>
  <figure class="attachment attachment--preview attachment--<%= blob.filename.extension %>">

    <%= image_tag blob.representation(resize_to_limit: local_assigns[:in_gallery] ? [ 800, 600 ] : [ 1024, 768 ]) %>

    <% if caption = blob.try(:caption) %>
      <figcaption class="attachment__caption">
        <%= caption %>
      </figcaption>
    <% end %>
  </figure>
  <% else # Not an image or representable as an image, just let the user download it  %>
  <figure class="attachment--<%= blob.filename.extension %> my-2 block">
    <%= link_to blob do %>
      <figcaption class="attachment__link link block b-0">
        <span class="attachment__name"><%= blob.filename %></span>
        <span class="attachment__size">(<%= number_to_human_size blob.byte_size %>)</span>
      </figcaption>
    <% end %>
  </figure>

<% end %>
