<%= form.hidden_field :space_id, value: space_contact.space_id %>
<%= form.hidden_field :space_group_id, value: space_contact.space_group_id %>
<%= form.input :title, input_html: { class: 'fieldFirst', 'data-hidden-target': 'focus', 'data-reset-form-target': "title" } %>
<div class="flex flex-wrap gap-2 -mt-3 -mb-3">
  <%= form.input :telephone  %>
  <%= form.input :telephone_opening_hours, wrapper_html: {
    class: 'flex-grow'
  } %>
</div>
<%= form.input :email %>
<%= form.input :url %>
<%= form.input :description, input_html: { class: 'fieldLast' } %>

