<%= turbo_frame_tag dom_id(space_contact) do %>
  <%= simple_form_for space_contact,
    url: space_contact.id.nil? ? space_contacts_path : space_contact_path(space_contact),
    html: { id: dom_id(space_contact),
    data: { 'controller':"reset-form",
    action: 'turbo:submit-end->reset-form#reset' } } do |f| %>

    <%= f.hidden_field :space_id, value: space_contact.space_id %>
    <%= f.hidden_field :space_owner_id, value: space_contact.space_owner_id %>
    <div class="rounded-md shadow-sm -space-y-px">
        <%= f.input :title, input_html: { class: 'fieldFirst', 'data-hidden-target': "title", 'data-reset-form-target': "title" } %>
        <%= f.input :telephone %>
        <%= f.input :telephone_opening_hours %>
        <%= f.input :email %>
        <%= f.input :url %>
        <%= f.input :description, input_html: { class: 'fieldLast' } %>
    </div>
    <div class="mt-4">
      <%= button_tag :submit, class: 'submit' do %>
        <span class="absolute left-0 inset-y-0 flex items-center pl-3">
          <!-- Heroicon name: figma contact -->
          <%= inline_svg_tag 'contact' %>
        </span>
        <%= t('space_contacts.submit') %>
      <% end %>
    </div>
  <% end %>
<% end %>
