<div id="<%= "#{ dom_id(@space)}" %>-contacts">
  <div class="flex gap-3 items-baseline">
    <h3 class="text-lnu-blue text-sm"><%= t('space_contacts.contacts_heading') %></h3>
  </div>
  <%= turbo_frame_tag "space_contacts_for_space_#{@space.id}", class: 'flex flex-col' do %>
    <%= turbo_stream_from "space_contacts_for_space_#{@space.id}" %>
    <%= render partial: "space_contacts/space_contact", collection: @space.space_contacts %>
  <% end %>
</div>
