<div id="<%= "#{ dom_id(@space)}" %>-contacts" data-controller="hidden" class="grid">
  <div class="flex">
    <h2 class="flex-grow"><%= t('space_contacts.contacts_heading') %></h2>
    <button type="button" data-action="click->hidden#toggle" class="border-2 border-lnu-pink rounded-l px-4 hover:bg-lnu-pink hover:text-white"><%= t('space_contacts.new_contact') %></button>
  </div>
  <div data-hidden-target="hideToggle" class="hidden flex-none">
    <%= render partial: 'space_contacts/form', locals: { space_contact: @space_contact } %>
  </div>
  <%= turbo_stream_from "space_contacts" %>
  <%= turbo_frame_tag "space_contacts" do %>
    <%= render @space.space_contacts %>
  <% end %>
</div>
