<div id="<%= "#{ dom_id(@space)}" %>-contacts" data-controller="hidden">
  <h3><%= t('space_contacts.contacts_heading') %></h3>
  <button type="button" data-hidden-target="open" data-action="click->hidden#toggle" class="button flex-0"><%= t('space_contacts.new_contact') %></button>
  <div data-hidden-target="hideToggle" class="hidden">
    <%= render partial: "space_contacts/new" %>
  </div>
  <%= turbo_stream_from "space_contacts" %>
    <%= turbo_frame_tag "space_contacts" do %>
      <%= render @space.space_contacts %>
    <% end %>

</div>
