<% @space.space_contacts.each do |contact| %>
  <div class="mx-6">
    <div class="border-t-2 border-gray-100 flex flex-cols-2">
      <h3 class="flex-grow"><%= contact.title %></h3>
      <div class="place-self-end pb-1">
        <%= link_to edit_space_contact_path(contact), class: 'unstyled-link edit-button collapsable' do %>
          <span class="text">
            Redigér
          </span>
            <%= inline_svg 'edit', alt: 'Redigér', title: 'Redigér' %>
        <% end %>
      </div>
    </div>
    <div class="grid md:grid-cols-3">
      <div>
        <% if contact.telephone? %>
          <strong>Telefon:</strong>
          <%= phone_to contact.telephone %><br />
        <% end %>
        <% if contact.telephone_opening_hours? %>
          <strong>Åpningstider:</strong>
          <%= contact.telephone_opening_hours %>
        <% end %>
      </div>
      <div>
        <% if contact.email? %>
          <strong>E-post:</strong>
          <%= mail_to contact.email %><br />
        <% end %>
        <% if contact.url? %>
          <strong>Nettside:</strong>
          <%= link_to contact.url, contact.url %>
        <% end %>
      </div>
      <div>
        <% if contact.description? %>
          <strong>Notat:</strong>
          <p><%= contact.description %></p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
