<%= turbo_frame_tag "new_space_contact_button" do %>
  <div>
    <%= button_to_modal "space_contacts_new",
                        id:  "space_contacts_new",
                        class: "edit-button collapsable" do %>
        <span class="text">
        <%= t('space_contacts.new') %>
      </span>
      <%= inline_svg_tag "plus" %>
    <% end %>

    <%= modal_for "space_contacts_new" do  %>
      <%= render partial: "space_contacts/new" %>
    <% end %>
  </div>
<% end %>
