<%= turbo_frame_tag "new_space_contact_form" do %>
  <%= simple_form_for @space_contact,
                      url: @space_contact.id.nil? ? space_contacts_path : space_contact_path(@space_contact),
                      html: {
                        data: { 'controller':"reset-form" } } do |form| %>

      <div class="modal-header">
        <h3><%= t('space_contacts.new_contact') %></h3>
      </div>
      <div class="modal-content">
        <%= render partial: 'space_contacts/form', locals: { form: form, space_contact: @space_contact } %>
      </div>
      <div class="modal-footer">
        <button
          type="submit"
          class="button submit">
          <!-- Heroicon name: figma contact -->
          <%= inline_svg_tag 'contact' %>
          <%= t('space_contacts.submit') %>
        </button>
        <button type="button"
                data-action="click->modal#close"
                class="link">
          <%= t('space_contacts.abort') %>
        </button>
      </div>
  <% end  %>
<% end  %>
