<%= turbo_frame_tag "new_space_contact_form" do %>
  <%= simple_form_for @space_contact,
                      url: @space_contact.id.nil? ? space_contacts_path : space_contact_path(@space_contact),
                      html: {
                        data: { 'controller':"reset-form" } } do |form| %>
   <div data-controller="modal" data-modal-target="background" class="modal-background">
    <div class="modal modal--with-header-and-footer">
        <div class="modal-header">
          <button type="button"
                  data-modal-target="closeButton"
                  data-action="click->hidden#toggle"
                  class="hover:underline p-4 -ml-4 inline-flex content-center items-center">
            <%= inline_svg_tag 'x', class: 'inline-block' %>
            <%= t('space_contacts.close_contact') %>
          </button>
          <h3><%= t('space_contacts.new_contact') %></h3>
          <div class="w-16"></div>
        </div>
              <div class="modal-content">
                  <%= render partial: 'space_contacts/form', locals: { form: form, space_contact: @space_contact } %>
              </div>
              <div class="modal-footer">
                <button
                  type="submit"
                  class="button">
                  <!-- Heroicon name: figma contact -->
                  <%= inline_svg_tag 'contact' %>
                  <%= t('space_contacts.submit') %>
                </button>
                <button type="button"
                        data-action="click->hidden#toggle"
                        class="link">
                  <%= t('space_contacts.abort') %>
                </button>
              </div>
        </div>
    </div>
  <% end  %>
<% end  %>
