
<%= turbo_frame_tag dom_id(space_contact) do %>
  <div class="group rounded-md shadow-md p-4 border border-gray-100 flex justify-between gap-6 mb-3 md:w-3/4">
    <div>
        <h4 class="font-bold"><%= space_contact.title %></h4>
      <dl>
        <% if space_contact.telephone? %>
          <dt class="sr-only">
            <%= t('space_contacts.phone') %>
          </dt>
          <dd>
            <%= phone_to space_contact.telephone %>
            <% if space_contact.telephone_opening_hours? %>
              <em title="<%= t('space_contacts.opening_hours') %>">
                (<%= space_contact.telephone_opening_hours %>)
              </em>
            <% end %>

          </dd>
        <% end %>

        <% if space_contact.email? %>
          <dt class="sr-only">
            <%= t('space_contacts.email') %>
          </dt>
          <dd><%= mail_to space_contact.email %></dd>
        <% end %>
        <% if space_contact.url? %>
          <dt class="sr-only"><%= t('space_contacts.url') %></dt>
          <dd><%= link_to space_contact.url, space_contact.url,  title: t('space_contacts.url') %></dd>
        <% end %>
        <% if space_contact.description? %>
          <dt  class="sr-only"><%= t('space_contacts.description') %>:</dt>
          <dd><%= space_contact.description %></dd>
        <% end %>
      </dl>
    </div>
    <nav class="">
      <%= link_to edit_space_contact_path(space_contact), id: "edit_space_contact_#{space_contact.id}", class: 'unstyled-link edit-button' do %>
        <span class="text">
          <%= t('space_contacts.edit') %>
        </span>
        <%= inline_svg_tag 'edit', alt: t('space_contacts.edit'), title: t('space_contacts.edit') %>
      <% end %>
    </nav>
  </div>
<% end %>

