<%# locals: (facility:, facility_category:, space_facility: %>

<%= turbo_frame_tag target_id_for_categorized_facility(
                      facility_id: facility.id, category_id: facility_category.id
                    ) do %>
  <%= link_to new_facility_review_path(
                space_id: space_facility.space_id,
                facility_id: facility.id,
                facility_category_id: facility_category.id,
                ),
              title: t("tooltips.facility_aggregated_experience.#{space_facility.experience}"),
              class: 'unstyled-link inline-flex gap-2 items-center collapsable-wrapper' do %>

    <h4 class="text-base <%= "line-through text-gray-600" if space_facility.experience == "impossible" %>"><%= facility.title %></h4>

    <%= inline_svg_tag "facility_status/#{space_facility.experience}", class: "#{" text-black " if space_facility.experience == "impossible" }" %>

    <span class="edit-button edit-button--small collapsable">
         <span class="text">
        <%= t('space_edit.edit') %>
      </span>
      <%= inline_svg_tag 'edit', alt: t('space_edit.edit'), title:  t('space_edit.edit') %>
    </span>
 <% end %>

  <% unless space_facility.description.nil? %>
    <div class="text-gray-400 mb-1.5">
      <%= space_facility.description %>
    </div>
  <% end %>
<% end %>
