<%# locals: (space_facility:, facility_review:, facility_category: ) %>

<%
  facility_id = space_facility.facility.id
  facility_title = space_facility.facility.title
  category_id = facility_category.id
  space_id = space_facility.space.id
%>
<%= turbo_frame_tag target_id_for_categorized_facility(facility_id:,  category_id:, space_id: ) do %>
  <section class="shadow-lg md:shadow-2xl p-4 -m-4 mb-6  rounded-lg bg-white">
    <%= simple_form_for facility_review,
                        method: :post,
                        namespace: target_id_for_categorized_facility(facility_id:,  category_id:, space_id: ),
                        url: create_facility_review_path(space_id:, facility_id:) do |form| %>
      <%= form.hidden_field :user_id, value: current_user.id %>
      <%= form.hidden_field :id, value: facility_review.id %>
      <fieldset class="mt-1 w-full">
        <h4 class="no-mt">
            <span class="flex gap-2 text-base items-baseline">
              <span class="font-bold mb-2 <%= "line-through text-gray-600" if space_facility.experience == "impossible" %>">
                <%= facility_title %>
              </span>

              <span class="text-sm font-normal text-gray-400 items-center inline-flex gap-1">
                <%= render 'facility_reviews/form_components/others_experience', space_facility: space_facility %>
              </span>
            </span>
        </h4>

        <div class="w-fit mt-1 mb-6">

          <%= form.label :description, class: "text-sm mb-1 block" do  %>
            <%=  t('simple_form.labels.space_facility.description') %>:
          <% end %>
          <%= render 'facility_reviews/form_components/description_input', form:, space_facility: %>

          <fieldset>
            <legend class="text-sm mb-1">
              <%= t('simple_form.labels.space_facility.experience') %>
            </legend>
            <%= render 'facility_reviews/form_components/my_experience_radio_buttons',  form:, facility_review: %>
          </fieldset>
        </div>
      </fieldset>
      <%= button_tag :submit, class: "button submit mr-2" do %>
        <%= t("space_edit.save_changed_field_html", field: facility_title) %>
      <% end %>
      <%= link_to t("space_contacts.abort"), facility_review_path(
        space_id:,
        facility_id:,
        facility_category_id: category_id,
        ), class: "link" %>
    <% end %>
  </section>
<% end %>
