<%= turbo_frame_tag :new_facility_review_path do %>
  <%= form_for "facility_reviews", url: create_facility_review_path(@space) do |form| %>
    <div class="modal-header">
      <h3><%= t("facility_reviews.edit") %></h3>
    </div>
    <div class="modal-content">
      <% @categories.each do |category| %>
        <%= render partial: 'facility_reviews/new/facility_category',
                   locals: {
                     facilities_in_category: @facilities_for_categories[category.id],
                     form: form,
                     review: form.object,
                     category: category } %>
      <% end %>
    </div>
    <div class="modal-footer">
      <%= form.submit %>
      <%= button_close_modal :new_facility_review_path do %>
        <%= t("space_contacts.abort") %>
      <% end %>
    </div>
  <% end %>
<% end %>
