<main class="content max-w-prose mx-auto w-screen">
  <h1><%= t('facility_reviews.edit') %></h1>
  <%= turbo_frame_tag dom_id(@facility_review, "category_#{@category.id}__facility_#{@facility.id}__") do %>
    <section class="shadow-lg md:shadow-2xl p-4 -m-4 mb-6  rounded-lg bg-white">
      <%= simple_form_for @space,
                   method: :post,
                   url: create_facility_review_path(@space) do |space_form| %>
        <% space_form.fields_for :facility_reviews, @facility_review do |facility_review_form| %>
          <%= facility_review_form.hidden_field :facility_id, value: @facility.id %>
          <%= facility_review_form.hidden_field :user_id, value: current_user.id %>
          <%= facility_review_form.hidden_field :id, value: @facility_review.id %>
          <fieldset class="mt-1 w-full">
            <h4 class="no-mt">
              <span class="flex gap-2 text-base items-baseline">
                <span class="font-bold mb-2 <%= "line-through text-gray-600" if @space_facility.experience == "impossible" %>">
                  <%= @facility.title %>
                </span>

                <span class="text-sm font-normal text-gray-400 items-center inline-flex gap-1">
                  <%= inline_svg_tag "facility_status/#{@space_facility.experience}", class: "#{" text-black " if @space_facility.experience == "impossible" }" %>
                  <%= t("tooltips.others_experience.#{@space_facility.experience}") %>
                </span>
              </span>
            </h4>

            <% if @space_facility.description %>
              <div class="text-gray-400 mb-1.5">
                <%= @space_facility.description %>
              </div>
            <% end %>

            <div class="w-fit mt-1 mb-6">

              <%= space_form.fields_for :space_facilities, @space_facility do |space_facilities_form| %>
                <%= space_facilities_form.label :description, class: "text-sm mb-1 block" do  %>
                  <%=  t('simple_form.labels.space_facility.description') %>:
                <% end %>
                <%= space_facilities_form.hidden_field :facility_id, input_html: { value: @facility.id} %>
                <%= space_facilities_form.input :description,
                                                label: false,
                                                placeholder: false,
                                                label_html: {
                                                  class: "text-xs mb-1"
                                                },
                                                required: false,
                                                input_html: {
                                                  value: @space_facility.description
                                                } %>
              <% end %>


              <fieldset>
                <legend class="text-sm mb-1">
                  <%= t('simple_form.labels.space_facility.experience') %>
                </legend>
                <div class="radio-slider" role="radiogroup" data-hide-target="focusable">
                  <% @experiences.each_with_index do |value|  %>
                    <%=
                      facility_review_form.radio_button :experience,
                                        value,
                                        checked: @facility_review.experience.blank? ?
                                                   value == 'unknown' :
                                                   value == @facility_review.experience

                    %>

                    <%= facility_review_form.label :"experience_#{value}" do %>
                          <span class="flex flex-col items-center gap-0.5 text-sm">
                            <%= inline_svg_tag "facility_status/#{FacilityReview::ICON_FOR_EXPERIENCE[value]}",
                                               class: "w-5 h-5 inline-block"
                            %>
                            <%= t("reviews.form.facility_experience_particular_tense.#{value}") %>
                          </span>
                    <% end %>
                  <% end %>
                </div>
              </fieldset>
            </div>
          </fieldset>
          <%= button_tag :submit, class: "button submit mr-2" do %>
            <%= t("space_edit.save_changed_field_html", field: @facility.title) %>
          <% end %>
          <%= link_to t("space_contacts.abort"), @space, class: "link" %>

        <% end %>
      <% end %>
    </section>
  <% end %>
</main>
