<%= turbo_frame_tag :new_facility_review_path do %>
  <%= form_for "facility_reviews", url: create_facility_review_path(@space) do |form| %>
    <div class="modal-header">
      <h3><%= t("facility_reviews.edit") %></h3>
    </div>
    <div class="modal-content">
      <% if @matching_space_types.present?  %>
        <% @categories.each do |category| %>
          <%= render partial: 'facility_reviews/new/facility_category',
            locals: {
              facilities_in_category: @matching_space_types[category.id],
              form: form,
              review: form.object,
              category: category,
              only_matching: true } %>
        <% end %>
      <% end %>
      <% if @not_matching_space_types.present?  %>
          <details>
          <summary>
            Others
          </summary>
          <% @categories.each do |category| %>
            <%= render partial: 'facility_reviews/new/facility_category',
              locals: {
                facilities_in_category: @not_matching_space_types[category.id],
                form: form,
                review: form.object,
                category: category,
                only_matching: false } %>
          <% end %>
        </details>
      <% end %>
    </div>
    <div class="modal-footer">
      <%= form.submit %>
      <%= button_close_modal :new_facility_review_path do %>
        <%= t("space_contacts.abort") %>
      <% end %>
    </div>
  <% end %>
<% end %>
