<%= turbo_frame_tag :new_facility_review_path do %>
  <%= simple_form_for "facility_reviews",
                      url: create_facility_review_path(@space),
                      data: {
                        controller: 'sync-fields-with-same-id',
                        'sync-fields-with-same-id-target': 'form'
                      } do |form| %>
    <div class="modal-header">
      <h3><%= t("facility_reviews.edit") %></h3>
    </div>
    <div class="modal-content content">
      <% if @grouped_relevant_facilities.present?  %>
        <% @grouped_relevant_facilities.each do |group| %>
          <%= render partial: 'facility_reviews/new/facility_category',
            locals: {
              facilities_in_category: group.second[:space_facilities],
              form: form,
              review: form.object,
              category: group.second[:category]
            } %>
        <% end %>
      <% end %>
      <% if @grouped_non_relevant_facilities.present?  %>
        <p class="text-gray-500">
          <%= t('facility_reviews.new.showing_relevant_facilities',
                space_title:  @space.title,
                space_types: @space.space_types.map{ |type| type.type_name }.to_sentence) %>
        </p>
        <details class="mb-8 group">
          <summary class="button">
            <span>Vis <%= @non_relevant_facilities.count %> andre fasiliteter</span>
          </summary>
          <% @grouped_non_relevant_facilities.each do |group| %>
            <%= render partial: 'facility_reviews/new/facility_category',
              locals: {
                facilities_in_category: group.second[:space_facilities],
                form: form,
                review: form.object,
                category: group.second[:category]
              } %>
          <% end %>
        </details>
      <% end %>
    </div>
    <div class="modal-footer">
      <%= form.submit t("facility_reviews.save"), class: "button submit"  %>
      <button type="button" data-action="click->modal#close" class="link">
        <%= t("space_contacts.abort") %>
      </button>
    </div>
  <% end %>
<% end %>
