<div class="max-w-md w-full p-4 mx-auto space-y-8">
  <div>
    <%= image_tag 'logo.svg', alt: 'LNU logo', width: 200, height: 200, class: 'mx-auto h-12 w-auto' %>
    <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
      <%= t('simple_form.labels.user.heading_edit') %>
    </h2>
    <p class="mt-2 text-center text-sm text-gray-600">
      eller
      <%= link_to t('simple_form.labels.user.delete_account'), registration_path(resource_name), data: { confirm: t('simple_form.labels.user.delete_account_confirmation') }, method: :delete, class: 'font-medium text-lnu-pink hover:text-lnu-blue' %>
    </p>
  </div>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'vertical_form', html: { method: :put }) do |f| %>
    <%= render partial: 'devise/shared/user_form', locals: { f: f } %>
    <div class="mt-4">
      <%= render partial: 'devise/shared/submit_button', locals: { text_on_button:  t('simple_form.labels.user.save_edit_registration') } %>
    </div>
  <% end %>
  <%= render 'devise/shared/back' %>
</div>
