<% content_for(:html_title) { t("devise.registrations.user.account") } %>

  <div class="max-w-md mx-auto p-4 w-full space-y-8">
    <div>
      <%= image_tag 'logo.svg', alt: 'LNU logo', width: 200, height: 200, class: 'mx-auto h-12 w-auto' %>
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        <%= t('simple_form.labels.user.heading_new') %>
      </h2>
      <p class="mt-2 text-center text-sm text-gray-600">
        <%=  t('simple_form.labels.user.or') %>
        <%= link_to t('simple_form.labels.user.logg_in_instead'), new_session_path(resource_name), class: 'font-medium text-lnu-pink hover:text-lnu-blue' %>
      </p>
    </div>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'vertical_form') do |f| %>
      <%= render partial: 'devise/shared/user_form', locals: { f: f } %>
      <div class="mt-4">
        <%= render partial: 'devise/shared/submit_button', locals: { text_on_button: t('simple_form.labels.user.submit_registration') } %>
      </div>
    <% end %>
  </div>
</div>
