  <div>
    <%= f.input :first_name, autofocus: true, input_html: { class: 'fieldFirst' }, required: true %>
  </div>
  <div>
    <%= f.input :last_name,  input_html: { class: 'textField' }, required: true %>
  </div>
  <div>
    <%= f.input :email, input_html: { class: 'textField' }, required: true %>
  </div>
  <div class="relative">
    <% if @minimum_password_length %>
      <p class="absolute -bottom-5 left-2 -mt-px inline-block px-1 text-xs font-medium text-gray-500 bg-white z-20"><%= @minimum_password_length %> <%=  t('simple_form.labels.user.min_password_length') %></p>
    <% end %>
    <%= f.input :password, input_html: { class: "passwordField z-0" }, minlength: '6', required: true %>
  </div>
  <div>
    <%= f.input :password_confirmation, input_html: { class: "passwordField z-10" }, required: true %>
  </div>
  <div>
    <%= f.input :organization, required: true %>
  </div>
