<%# locals: (user:, count:) %>
<li class="flex gap-2 items-center">
  <div class="flex-shrink-0">
    <%= image_tag user.gravatar_url(size: 25), class: "rounded-full" %>
  </div>
  <div class="text-sm">
    <strong><%= user.name %></strong>  (<%= count %> endringer)<br>
    <%= user.email %><% if user.organization.present? %>, <%= user.organization %><% end %>
  </div>
</li>