<header class="pt-8 px-4 max-w-prose mx-auto w-screen">

  <h1 class="font-bold text-lnu-blue mb-8 sr-only">Statistikk</h1>

  <%= form_tag admin_dashboard_index_path, method: :get do %>
    <div class="flex flex-col gap-4 p-4 -mx-4 bg-gray-50 rounded-lg border border-gray-200">
      <div class="flex gap-8 items-center justify-between">
        <fieldset class="flex gap-2 items-center">
          <legend class="sr-only">Datoer</legend>
          <label for="start_date" class="label">Fra</label>
          <%= date_field_tag :start_date, params[:start_date] || @date_range.first, class: 'text_field' %>
          <label for="end_date" class="label">til</label>
          <%= date_field_tag :end_date, params[:end_date] || @date_range.last,  class: 'text_field' %>
        </fieldset>
        <fieldset class="flex gap-2 items-center">
          <label for="period" class="label">Per</label>
          <%= select_tag :period_grouping, options_for_select(
            [
              *Admin::DashboardController::PERIODS_TO_GROUP_BY.map { |period| [t("date_periods.#{period}"), period] }
            ],
              @period_grouping
            ), class: "select_field" %>
        </fieldset>
        <%= submit_tag "Filtrer", class: "button" %>
      </div>
    </div>
  <% end %>
</header>

<main class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-4 w-screen p-12 max-w-screen-2xl mx-auto">
  <section class="bg-white p-6 rounded-lg shadow-2xl">
    <h2 class="text-lnu-blue font-bold mb-4 text-center">Brukere med flest endringer</h2>
    <ul class="flex gap-2 flex-col">
      <% @most_changes_per_user.first(@most_changes_per_user_limit).map do |user_id, count| %>
        <% user = User.find(user_id) %>
        <li class="flex gap-2 items-center">
          <div class="flex-shrink-0">
            <%= image_tag user.gravatar_url(size: 25), class: "rounded-full" %>
          </div>
          <div class="text-sm">
            <strong><%= user.name %></strong> (<%= user.email %>)<br>
            <%= count %> endringer
          </div>
        </li>
      <% end %>
    </ul>
    <% if @most_changes_per_user.count > @most_changes_per_user_limit %>
      <details class="mt-2">
        <summary>Og <%= @most_changes_per_user.count - @most_changes_per_user_limit %> flere</summary>
        <% @most_changes_per_user.drop(@most_changes_per_user_limit).map do |user, count| %>
          <% user = User.find(user_id) %>
          <li class="flex gap-2 items-center">
            <div class="flex-shrink-0">
              <%= image_tag user.gravatar_url(size: 25), class: "rounded-full" %>
            </div>
            <div class="text-sm">
              <strong><%= user.name %></strong> (<%= user.email %>)<br>
              <%= count %> endringer
            </div>
          </li>
        <% end %>
      </details>
    <% end %>
  </section>

  <section class="bg-white p-6 rounded-lg shadow-2xl">
    <h2 class="text-lnu-blue font-bold mb-4 text-center">Brukere med loggførte endringer</h2>
    <%= column_chart @unique_users_creating_changes %>
  </section>

  <section class="bg-white p-6 rounded-lg shadow-2xl">
    <h2 class="text-lnu-blue font-bold mb-4 text-center">Brukerinitierte loggførte endringer</h2>
    <%= column_chart @changes_created_by_users %>
  </section>

  <section class="bg-white p-6 rounded-lg shadow-2xl">
    <h2 class="text-lnu-blue font-bold mb-4 text-center">Systeminitierte loggførte endringer</h2>
    <%= column_chart @changes_created_by_system %>
  </section>

  <section class="bg-white p-6 rounded-lg shadow-2xl">
    <h2 class="text-lnu-blue font-bold mb-4 text-center">Nye brukere</h2>
    <%= column_chart @users_created %>
  </section>

  <section class="bg-white p-6 rounded-lg shadow-2xl">
    <h2 class="text-lnu-blue font-bold mb-4 text-center">Nye lokaler</h2>
    <%= column_chart @spaces_created %>
  </section>

  <section class="bg-white p-6 rounded-lg shadow-2xl">
    <h2 class="text-lnu-blue font-bold mb-4 text-center">Nye fasilitetserfaringer</h2>
    <%= column_chart @facility_reviews_created %>
  </section>

  <section class="bg-white p-6 rounded-lg shadow-2xl">
    <h2 class="text-lnu-blue font-bold mb-4 text-center">Nye anmeldelser</h2>
    <%= column_chart @reviews_created %>
  </section>

  <section class="bg-white p-6 rounded-lg shadow-2xl">
    <h2 class="text-lnu-blue font-bold mb-4 text-center">Nye lister</h2>
    <%= column_chart @lists_created  %>
  </section>
</main>


