<header class="pt-8 px-4 max-w-prose mx-auto w-screen">

  <h1 class="font-bold text-lnu-blue mb-8 sr-only">Statistikk</h1>

  <%= form_tag admin_dashboard_index_path, method: :get do %>
    <div class="flex flex-col gap-4 p-4 -mx-4 bg-gray-50 rounded-lg border border-gray-200">
      <div class="flex gap-8 items-center justify-between">
        <fieldset class="flex gap-2 items-center">
          <legend class="sr-only">Datoer</legend>
          <label for="start_date" class="label">Fra</label>
          <%= date_field_tag :start_date, params[:start_date] || @date_range.first, class: 'text_field' %>
          <label for="end_date" class="label">til</label>
          <%= date_field_tag :end_date, params[:end_date] || @date_range.last,  class: 'text_field' %>
        </fieldset>
        <fieldset class="flex gap-2 items-center">
          <label for="period" class="label">Per</label>
          <%= select_tag :period_grouping, options_for_select(
            [
              *Admin::DashboardController::PERIODS_TO_GROUP_BY.map { |period| [t("date_periods.#{period}"), period] }
            ],
              @period_grouping
            ), class: "select_field" %>
        </fieldset>
        <%= submit_tag "Filtrer", class: "button" %>
      </div>
    </div>
  <% end %>
</header>

<main class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-4 w-screen p-12 max-w-screen-2xl mx-auto">

  <%= render "admin/dashboard/statistics_box",
             header: "Brukere med flest endringer" do %>
    <ul class="flex gap-2 flex-col">
      <% @most_changes_per_user.first(@most_changes_per_user_limit).map do |user_id, count| %>
        <% user = User.find(user_id) %>
        <%= render "admin/dashboard/user_with_change_count", user:, count:  %>
      <% end %>
    </ul>
    <% if @most_changes_per_user.count > @most_changes_per_user_limit %>
      <details>
        <summary class="link my-4">Og <%= @most_changes_per_user.count - @most_changes_per_user_limit %> flere</summary>
        <ul class="flex gap-2 flex-col">
          <% @most_changes_per_user.drop(@most_changes_per_user_limit).map do |user_id, count| %>
            <% user = User.find(user_id) %>
            <%= render "admin/dashboard/user_with_change_count", user:, count: %>
        <% end %>
        </ul>
      </details>
    <% end %>
  <% end %>

  <%= render "admin/dashboard/statistics_box",
             header: "#{@unique_users_creating_changes_count} brukere med loggførte endringer" do %>
    <%= column_chart @unique_users_creating_changes %>
  <% end %>

  <%= render "admin/dashboard/statistics_box",
             header: "#{@changes_created_by_users_count} brukerinitierte loggførte endringer" do %>
    <%= column_chart @changes_created_by_users %>
  <% end %>

  <%= render "admin/dashboard/statistics_box",
             header: "#{@changes_created_by_system_count} systeminitierte loggførte endringer" do %>
    <%= column_chart @changes_created_by_system %>
  <% end %>

  <%= render "admin/dashboard/statistics_box",
             header: "#{@users_created_count} nye brukere" do %>
    <%= column_chart @users_created %>
  <% end %>

  <%= render "admin/dashboard/statistics_box",
             header: "#{@spaces_created_count} nye lokaler" do %>
    <%= column_chart @spaces_created %>
  <% end %>

  <%= render "admin/dashboard/statistics_box",
             header: "#{@facility_reviews_created_count} nye fasilitetserfaringer" do %>
    <%= column_chart @facility_reviews_created %>
  <% end %>

  <%= render "admin/dashboard/statistics_box",
             header: "#{@reviews_created_count} nye anmeldelser" do %>
    <%= column_chart @reviews_created %>
  <% end %>

  <%= render "admin/dashboard/statistics_box",
             header: "#{@lists_created_count} nye lister" do %>
    <%= column_chart @lists_created %>
  <% end %>
</main>


