<div>
  <%= form.label :address %>
  <%= form.text_field :address, class: "border-4" %>
</div>
<div>
  <%= form.label :post_number %>
  <%= form.text_field :post_number, class: "border-4" %>
</div>
<div>
  <%= form.label :post_address %>
  <%= form.text_field :post_address, class: "border-4" %>
</div>
<div>
  <%= form.label :municipality_code %>
  <%= form.text_field :municipality_code, class: "border-4" %>
</div>

