<div>
  <%= form.label :title %> *
  <%= form.text_field :title, class: "border-4" %>
</div>

<div>
  <%= form.label :space_type_id %>
  <%= form.collection_select :space_type_id, SpaceType.all, :id, :type_name, class: "border-4" %>
</div>

<div>
  <%= form.label :fits_people %>
  <%= form.number_field :fits_people, class: "border-4" %>
</div>

<div>
  <%= form.label :space_owner_id %>
  <%= form.collection_select :space_owner_id, SpaceOwner.all, :id, :title, class: "border-4" %>
</div>

<div>
  <%= form.label :organization_number %>
  <%= form.text_field :organization_number, class: "border-4" %>
</div>

<%= render partial: 'spaces/edit/where', locals: {
  form: form
} %>
