<h2><%= t('space_edit.editing_space', title: Space.human_attribute_name('basics').downcase) %></h2>
<%= edit_field 'title', form %>
<%= edit_field 'where', form %>
<%= edit_field 'space_type', form %>
<%= edit_field 'space_owner', form %>
<%= edit_field 'fits_people', form %>
