<h1>New Space</h1>

<%= form_with model: space do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title, class: "border-4" %>
  </div>
  <div>
    <%= form.label :address %>
    <%= form.text_field :address, class: "border-4" %>
  </div>
  <div>
    <%= form.label :latitude %>
    <%= form.text_field :lat, class: "border-4" %>
  </div>
  <div>
    <%= form.label :longitude %>
    <%= form.text_field :lng, class: "border-4" %>
  </div>
  <div>
    <%= form.label :space_owner_id %>
    <%= form.collection_select :space_owner_id, SpaceOwner.all, :id, :orgnr, class: "border-4" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
