<div class="border-2 w-min bg-green-50 border-green-400 mb-12 p-4">
  <h3 class="cursor-pointer whitespace-nowrap font-bold text-green-600">
    Dev information on  "<%= space.title %>", id: <%= space.id %>
  </h3>
  <p>
    <button class="
    my-2
    py-2
    px-4
    bg-green-600 hover:bg-green-500
    text-white
    border-green-900
    border-b-4
  " onclick="
    console.log('Space data', <%= space.to_json %>);
    <% space.images.each do |image| %>
      console.log('image:', '<%= url_for(image) %>');
    <% end %>
    console.log('How to book', <%= space.how_to_book.to_json %>);
    console.log('who_can_use', <%= space.who_can_use.to_json %>);
    console.log('pricing', <%= space.pricing.to_json %>);
    console.log('terms', <%= space.terms.to_json %>);
    console.log('more_info', <%= space.more_info.to_json %>);
    ">
      Paste full data to console.log
    </button>
  </p>
  <%= link_to 'Show', space_path(space), class: "border-2 border-blue-400" %>
  <%= link_to 'Edit', edit_space_path(space), class: "border-2 border-blue-400" %>
  <%= form_with url: spaces_upload_image_path, class: "border border-green-400 m-2 p-2" do |f| %>
    <p class="block text-xl">
      Upload Image
    </p>
    <%= f.hidden_field :id, value: space.id %>
    <%= f.file_field :image, class: "block" %>
    <%= f.submit :upload, class: "block p-2 bg-blue-400" %>
  <% end %>
  <p>Images: </p>
  <% space.images.each do |image| %>
    <%= url_for(image) %>
  <% end %>
</div>
