<%

=begin

Partial for rendering a space listing in the search results.

TODO:
- Remove hard coded values, and replace with dynamic ones from Rails.
  - Rating (4.2 -> space.rating)
  - Number of Ratings (5 -> space.number_of_ratings)
  - Facility listing based on search (currently, overnatting, kjøkken, lydanlegg, dansegulv)
    - Probability for each facility, as shown below
    - Icon for each? Not currently shown, but in Figma

=end

%>

<%= link_to space_path(space), class: "unstyled-link" do %>

  <div class="mt-4 mb-12 max-w-lg hover:opacity-70">

    <!-- Space image(s) -->

    <%= render partial: "index_image_list", locals: { images: space.images } %>

    <!-- Space title -->

    <h3 class="text-xl mt-4 mb-2.5 font-bold">
      <%= space.title %>
    </h3>

    <!-- Meta information listing -->

    <div class="flex gap-4 mb-2.5">

      <div class="flex gap-2">
        <%= inline_svg_tag 'star', class: "#{space.star_rating ? 'text-pink-500' : 'text-gray-300'}" %>
        <span>
          <%=  space.star_rating || '-' %>
          <span class="opacity-50">(5)</span>
        </span>
      </div>

      <div class="flex gap-2">
          <%= inline_svg_tag 'building' %>
          <span>
            <%= space.space_type.type_name %>
            <% if space.fits_people %>
                <span>(<%= space.fits_people %> elever)</span>
            <% end %>
          </span>
      </div>

    </div>

    <!-- Filtered facilites listing -->

    <ul class="grid grid-cols-2 gap-2 mt-2">
      <li class="flex items-center gap-1.5" title="Sannsynlig! Andre har fått lov">
        Overnatting
        <span>
           <%= inline_svg_tag 'facility_status/likely' %>
        </span>
      </li>
      <li class="flex items-center gap-1.5"  title="Usannsynlig: Ingen eller få har fått lov">
        Kjøkken
        <span>
           <%= inline_svg_tag 'facility_status/unlikely' %>
        </span>
      </li>
      <li class="flex items-center gap-1.5" title="Kanskje: Ikke alle får lov">
        Dansegulv
        <span>
           <%= inline_svg_tag 'facility_status/maybe' %>
        </span>
      </li>
      <li class="flex items-center gap-1.5" title="Usikkert: Ingen har spurt om lydanlegg">
        Lydanlegg
        <span>
           <%= inline_svg_tag 'facility_status/unknown' %>
        </span>
      </li>
      <li class="flex items-center gap-1.5" title="Umulig: Frederik II har ikke flyplass">
        Flyplass
        <span>
           <%= inline_svg_tag 'facility_status/impossible' %>
        </span>
      </li>
    </ul>
  </div>
<% end %>
<div style="margin-top: -32px">
  <%= render partial: "space_dev_information", locals: { space: space } %>
</div>
