<div data-controller="mapbox" data-api-key="<%= ENV["MAPBOX_API_KEY"]%>" >
  <div data-mapbox-target="searchBox" class="">
    <div data-controller="modal" class="modal-background" data-modal-target="background">
      <div class="modal modal--with-header-and-footer">
        <nav class="modal-header">
          <%= button_tag data: {
            modal_target: 'closeButton',
            action: "click->mapbox#toggleSearchBox"
          }, class: "hover:underline p-4 -mt-4 -ml-4 inline-flex content-center items-center" do %>
            <%= inline_svg_tag 'x', class: 'inline-block' %>
            Lukk
          <% end %>
          <h2 class="font-bold text-center">
            <%= t('space_filter.edit_filter') %>
          </h2>
        </nav>
        <section class="modal-content">
          <%= render partial: "spaces/index/search_form" %>
        </section>
        <nav class="modal-footer">
          <%= button_tag data: {
            modal_target: 'closeButton',
            action: "click->mapbox#toggleSearchBox"
          }, class: "bg-gray-900 hover:bg-lnu-pink text-white rounded-lg px-4 py-3 inline-flex gap-2 content-center items-center" do %>
            <%= inline_svg_tag 'search', class: 'inline-block' %>
            <%= t('space_filter.show_spaces', count: '') %>
          <% end %>
        </nav>
      </div>
    </div>
  </div>
  <div class="md:grid grid-cols-2">
    <div class="relative">
      <link href="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css" rel="stylesheet">
      <div class="w-full h-96 md:h-screen" id="map-frame">
      </div>
      <button
        data-action="click->mapbox#toggleSearchBox"
        class="absolute m-2 top-0 right-0 bg-lnu-pink p-2 text-white">Filter</button>
    </div>
    <div class="md:h-screen overflow-auto pt-4 px-4 static">
      <div class="flex">
        <h1 class="text-2xl mt-1"><%= Space.model_name.human(count: 2) %></h1>
        <%= link_to new_space_path, class: 'ml-2 unstyled-link edit-button collapsable' do %>
          <span class="text">
            <%= t('space_listing.new_space') %>
          </span>
          <%= inline_svg_tag 'plus', alt: t('space_listing.new_space'), title: t('space_listing.new_space'), class: "w-4 h-4" %>
        <% end %>
      </div>
      <div id="space-listing">
      </div>
    </div>
  </div>
</div>
