<div data-controller="mapbox" data-api-key="<%= ENV["MAPBOX_API_KEY"]%>" >
  <nav class="">
    <%= render 'spaces/index/filters' %>
  </nav>
  <div class="relative">
    <div class="md:fixed h-screen-3/5 md:pb-0 md:h-full w-full md:pl-md">
      <%= render 'spaces/index/map' %>
    </div>
    <div class="relative md:w-md md:h-full rounded-t-xl -mt-8 md:mt-0 z-4 bg-white md:rounded-none">
      <%= render 'spaces/index/filter_button' %>
      <%= render 'spaces/index/handlebar_for_mobile' %>
      <div id="space-listing" class="px-4"></div>
    </div>
  </div>
</div>
