<div data-controller="mapbox" data-api-key="<%= ENV["MAPBOX_API_KEY"]%>" >
  <%= render partial: 'spaces/index/filters' %>
  <div class="md:grid grid-cols-2">
    <div class="relative">
      <%= render partial: 'spaces/index/map' %>
      <%= render partial: 'spaces/index/filter_button' %>
    </div>
    <div class="md:h-screen overflow-auto pt-4 px-4 static">
      <%= render partial: 'spaces/index/space_listing_header' %>
      <div id="space-listing">
      </div>
    </div>
  </div>
</div>
