<%=

  # Styled in part by space.scss

%>

<!-- Space image(s) -->

<%= render partial: "spaces/show/image_header", locals: { images: @space.images } %>

<main class="space px-4">

  <%= render partial: 'spaces/show/basics' %>

  <% if current_user&.admin? %>
    <%= link_to "Show changelog", admin_path(@space) %>
  <% end %>

  <hr />

  <%= inline_editable :how_to_book  do %>
    <%= render_space_and_owner_field @space, :how_to_book %>
  <% end %>
  <hr />

  <%= render partial: 'spaces/show/facilities' %>
  <hr />

  <%= inline_editable :who_can_use  do %>
    <%= render_space_and_owner_field @space, :who_can_use %>
  <% end %>
  <hr />

  <%= inline_editable :pricing do %>
    <%= render_space_and_owner_field @space, :pricing %>
  <% end %>
  <hr />

  <%= render partial: 'spaces/show/where' %>
  <hr />

  <%= inline_editable :more_info do %>
    <%= render_space_and_owner_field @space, :more_info %>
  <% end %>
  <hr />

  <%= inline_editable :terms do %>
    <%= render_space_and_owner_field @space, :terms %>
  <% end %>
  <hr />

  <%= render partial: 'spaces/show/reviews' %>

  <%= render partial: "space_dev_information", locals: { space: @space } %>

</main>
