<%= render partial: "show_image_list", locals: { images: @space.images } %>

<main class="space px-4">
  <h1><%= @space.title %></h1>
  <%= render 'spaces/partial/meta_information' %>
  <hr />
  <%= render 'spaces/partial/how_to_book' %>
  <%= render 'spaces/partial/facilities' %>
  <%= render 'spaces/partial/universal_utforming' %>
  <hr />
  <%= render 'spaces/partial/who_can_use' %>
  <hr />
  <%= render 'spaces/partial/pricing' %>
  <hr />
  <%= render 'spaces/partial/hvor_er_det' %>
  <hr />
  <%= render 'spaces/partial/more_info' %>
  <hr />
  <%= render 'spaces/partial/terms' %>
  <hr />
  <%= render 'spaces/partial/reviews' %>
  <%= render partial: "space_dev_information", locals: { space: @space } %>
</main>
