<% content_for(:html_title) { @space.title } %>
<%#
  Depends on:
  - @space

  Styled in part by content.scss
%>
<%= turbo_frame_tag "spaces-open-here", target: "_top" do %>
  <%= render 'back_to_search_button' %>
  <main
    data-controller="set-selected-space"
    data-set-selected-space-target="space"
    data-space="<%= @space.id %>"
    class="max-w-prose mx-auto w-full bg-white">
      <%= render partial: "spaces/show/image_header"  %>


      <section class="px-4 pb-8 grid divide-y ">

        <div class="flex flex-col gap-11 pb-14">
          <%= render partial: 'spaces/show/basics' %>

          <%= render 'spaces/show/space_list_status_and_notes',
                     personal_space_list: @active_personal_space_list,
                     space: @space %>

        </div>


        <div class="pt-11 pb-14">
          <%= render partial: 'spaces/show/reviews' %>
        </div>

        <div class="pt-11 pb-14">
          <%= render partial: 'spaces/show/facilities' %>
        </div>


        <div class="pt-11 pb-14">
          <%= inline_editable :contact_information, space: @space do %>
            <%= render_space_and_group_field @space, :how_to_book %>
            <% if @space.space_contacts.any? %>
              <div class="mt-8">
                <%= render 'space_contacts/non_editable_index' %>
              </div>
            <% end %>
          <% end %>
        </div>

        <div class="pt-11 pb-14">
          <%= inline_editable :terms_and_pricing, space: @space do %>
            <%= render_space_and_group_field @space, :terms_and_pricing %>
          <% end %>
        </div>



        <div class="pt-11 pb-14">
          <%= render partial: 'spaces/show/where' %>
        </div>

        <div class="pt-11 pb-14">
          <%= inline_editable :more_info, space: @space do %>
            <%= render_space_and_group_field @space, :more_info %>
          <% end %>
        </div>

        <% if current_user&.admin? %>
          <section class="bg-pink-50 shadow-lg p-4 rounded-lg border border-lnu-pink pt-11 pb-14">
            <h3 class="no-mt pt-1">Admin:</h3>
            <p>
              <%= link_to t("space_show.show_changelog"), admin_history_path(@space) %>
            </p>
          </section>
        <% end %>

      </section>
  </main>
<% end %>
