<% content_for(:html_title) { @space.title } %>
<%#
  Depends on:
  - @space

  Styled in part by content.scss
%>
<%= turbo_frame_tag "spaces-open-here", target: "_top" do %>
  <main
    data-controller="set-selected-space"
    data-set-selected-space-target="space"
    data-space="<%= @space.id %>"
    class="max-w-prose mx-auto w-full bg-white">
    <%= render 'back_to_search_button' %>
      <%= render partial: "spaces/show/image_header"  %>


    <section class="px-4 pb-10">
      <div class="flex flex-col gap-11">
        <%= render partial: 'spaces/show/basics' %>
      </div>
    </section>
      <section class="px-4 pb-8 grid divide-y border-t">
        <div class="pt-11 pb-14">
          <%= render partial: 'spaces/show/reviews' %>
        </div>

        <div class="pt-11 pb-14">
          <%= render partial: 'spaces/show/facilities' %>
        </div>



        <div class="pt-11 pb-14">
          <%= inline_editable :terms_and_pricing, space: @space do %>
            <%= render_space_and_group_field @space, :terms_and_pricing %>
          <% end %>
        </div>



        <div class="pt-11 pb-14">
          <%= render partial: 'spaces/show/where' %>
        </div>

        <div class="pt-11 pb-14">
          <%= inline_editable :more_info, space: @space do %>
            <%= render_space_and_group_field @space, :more_info %>
          <% end %>
        </div>

        <aside class="sticky left-0 right-0 bottom-24 md:bottom-0 h-16 z-4 !border-t-0">
          <div class="max-w-prose mx-auto w-full py-2.5 justify-end flex gap-2 items-center">
            <button onclick="document.getElementById('contact_information').scrollIntoView({behavior: 'smooth'})" class="button submit button--black">
              ↓ Hvordan booke?
            </button>
          </div>
        </aside>
        <div class="pt-11 pb-14 -mt-16 z-5 bg-white md:scroll-mt-desktop-menu-height" id="contact_information">

          <%= inline_editable :contact_information, space: @space do %>
            <%= render_space_and_group_field @space, :how_to_book %>
            <% if @space.space_contacts.any? %>
              <div class="mt-8">
                <%= render 'space_contacts/non_editable_index' %>
              </div>
            <% end %>
          <% end %>

          <div class="pt-11">
          <%= render 'spaces/show/space_list_status_and_notes',
                     personal_space_list: @active_personal_space_list,
                     space: @space %>
          </div>
        </div>
        <% if current_user&.admin? %>
          <section class="bg-pink-50 shadow-lg p-4 rounded-lg border border-lnu-pink pt-11 pb-14">
            <h3 class="no-mt pt-1">Admin:</h3>
            <p>
              <%= link_to t("space_show.show_changelog"), admin_history_path(@space) %>
            </p>
          </section>
        <% end %>
      </section>

  </main>
<% end %>
