<%=

  # Styled in part by space.scss

%>

<!-- Space image(s) -->

<%= render partial: "spaces/show/image_header", locals: { images: @space.images } %>

<main class="space px-4">

  <%= render partial: 'spaces/show/basics' %>

  <hr />

  <%= inline_editable :how_to_book, h2: 'Hvordan booker vi?' do %>
    <%= @space.how_to_book %>
  <% end %>

  <hr />

  <%= render partial: 'spaces/show/facilities' %>

  <hr />

  <%= inline_editable :who_can_use, h2: 'Hvem får bruke lokalet?' do %>
    <%= @space.who_can_use %>
  <% end %>

  <hr />

  <%= inline_editable :pricing, h2: 'Pris' do %>
    <%= @space.pricing %>
  <% end %>

  <hr />

  <%= render partial: 'spaces/show/where' %>

  <hr />

  <%= inline_editable :more_info, h2: 'Mer om lokalet' do %>
    <%= @space.more_info %>
  <% end %>

  <hr />

  <%= inline_editable :terms, h2: 'Vilkår for å bruke lokalet' do %>
    <%= @space.terms %>
  <% end %>

  <hr />

  <%= render partial: 'spaces/show/reviews' %>

  <%= render partial: "space_dev_information", locals: { space: @space } %>


</main>
