<%#
  Depends on:
  - @space

  Styled in part by content.scss
%>
<main class="max-w-prose mx-auto w-screen">
  <%= render partial: "spaces/show/image_header", locals: { images: @space.images } %>

  <section class="content px-4 pb-8">

    <%= render partial: 'spaces/show/basics' %>

    <hr />

    <%= render 'space_contacts/index' %>
    <hr />

    <%= inline_editable :how_to_book  do %>
      <%= render_space_and_owner_field @space, :how_to_book %>
    <% end %>
    <hr />

    <%= render partial: 'spaces/show/facilities' %>
    <hr />

    <%= inline_editable :who_can_use  do %>
      <%= render_space_and_owner_field @space, :who_can_use %>
    <% end %>
    <hr />

    <%= inline_editable :pricing do %>
      <%= render_space_and_owner_field @space, :pricing %>
    <% end %>
    <hr />

    <%= render partial: 'spaces/show/where' %>
    <hr />

    <%= inline_editable :more_info do %>
      <%= render_space_and_owner_field @space, :more_info %>
    <% end %>
    <hr />

    <%= inline_editable :terms do %>
      <%= render_space_and_owner_field @space, :terms %>
    <% end %>
    <hr />

    <%= render partial: 'spaces/show/reviews' %>

    <% if current_user&.admin? %>
      <hr />
      <section class="bg-pink-50 shadow-lg p-4 rounded-lg border border-lnu-pink">
        <h3 class="no-mt pt-1">Admin:</h3>
        <p>
          <%= link_to t("space_show.show_changelog"), admin_history_path(@space) %>
        </p>
      </section>
    <% end %>

  </section>
</main>
