<%#
  Depends on:
  - @space

  Styled in part by content.scss
%>
  <tr>

    <th scope="row">
      <%= render partial: 'spaces/show/basics' %>
    </th>

    <td>
      <% if @space.images.empty? %>
        <div class="relative pb-1/2 w-full inline-block">
          <div class="bg-gray-300 absolute text-gray-500  h-full w-full flex flex-col gap-4 items-center justify-center">
            <span class="flex flex-col gap-1 items-center justify-center">
              <%= inline_svg_tag 'image_missing', class: "inline-block h-14 w-14" %>
              <%= t('images.image_missing') %>
            </span>
          </div>
        </div>
      <% else %>
        <%= render partial: 'space_images/image_slider', locals: {
          space: @space,
          images: @space.images,
          link_to_fullscreen: false,
          show_caption_credits: :thumbnail
        } %>
      <% end %>
    </td>


    <td>
    <%= inline_editable :how_to_book  do %>
        <%= render_space_and_group_field @space, :how_to_book %>
      <% end %>
    </td>

    <td>
      <%= render 'space_contacts/index' %>
    </td>

    <td class="w-fit overflow-x-auto">
      <section id="facilities"  class="flex gap-2 w-fit">

        <% if @grouped_relevant_facilities.present? %>
          <main class="grid grid-flow-col gap-5 divide-x">
            <% @grouped_relevant_facilities.each do | group |  %>
              <div>
                <h3 class="no-mt">
                  <%= group.second[:category].title %>
                </h3>

                <ul class="grid gap-1 md:col-span-2">
                  <% group.second[:space_facilities].each do |facility_data| %>
                    <%= render partial: 'spaces/show/facility_item', locals: {
                      space: @space,
                      facility_data:
                    } %>
                  <% end %>
                </ul>
              </div>
            <% end %>
          </main>
        <% end %>

        <% if @grouped_non_relevant_facilities.present?  %>
          <p class="text-gray-500">
            <%= t('facility_reviews.new.showing_relevant_facilities',
                  space_title:  @space.title,
                  space_types: @space.space_types.map{ |type| type.type_name }.to_sentence) %>
          </p>
          <details class="mb-8 group">
            <summary class="link">
              <span>Vis <%= @non_relevant_facilities.count %> andre fasiliteter</span>
            </summary>
            <% @grouped_non_relevant_facilities.each do |group| %>
              <%= render 'spaces/show/facility_group', group: %>
            <% end %>
          </details>
        <% end %>

      </section>
    </td>

    <td>
      <%= inline_editable :who_can_use  do %>
        <%= render_space_and_group_field @space, :who_can_use %>
      <% end %>
    </td>

    <td>
      <%= inline_editable :pricing do %>
        <%= render_space_and_group_field @space, :pricing %>
      <% end %>
    </td>

    <td>
      <%= inline_editable :where do %>
        <div class="flex gap-1 mb-3">
          <%= inline_svg_tag 'place' %>
          <span>
            <%= @space.address %>,
            <%= @space.post_number %>
            <%= @space.post_address %>
         </span>
        </div>
        <%= render partial: "spaces/show/location_description"%>
        <%= render partial: "spaces/show/static_map" %>
      <% end %>
    </td>

    <td>
      <%= inline_editable :terms do %>
        <%= render_space_and_group_field @space, :terms %>
      <% end %>
    </td>

    <td>
      <%= inline_editable :more_info do %>
        <%= render_space_and_group_field @space, :more_info %>
      <% end %>
    </td>

    <td>
      <%= render partial: 'spaces/show/reviews' %>
    </td>

  </tr>
