<%= turbo_frame_tag dom_id(version) do %>
  <div class="bg-white p-6 shadow-xl relative rounded-lg">

    <% new_version = version.next&.reify(dup: true) || version.item %>
    <% old_version = version.reify(dup: true) %>
    <% latest_version = new_version || old_version %>
    <% space = nil %>
    <% space = latest_version.space if defined? latest_version.space %>
    <% space = latest_version if latest_version.is_a?(Space) %>
    <% space = latest_version.record if latest_version.is_a?(ActionText::RichText) and latest_version.record_type == "Space" %>
    <% field = version.item_type.humanize %>
    <% field = "Tekst" if latest_version.is_a?(ActionText::RichText) and latest_version.record_type == "Space" %>


    <h3 class="text-xl">
      <%= field %> (<%= space&.title || latest_version.class.name %>)
    </h3>

      <div class="grid grid-cols-2 gap-4 content-stretch">
        <%= render partial: "admin/history/version_side", 
                   locals: { 
                     version: version, 
                     version_obj: old_version, 
                     side: :old, 
                     side_title: "Forrige versjon"
                   } %>
                   
        <%= render partial: "admin/history/version_side", 
                   locals: { 
                     version: version, 
                     version_obj: new_version, 
                     side: :new, 
                     side_title: "Ny versjon"
                   } %>
      </div>


    <p>Version ID: <%= version.id %></p>

    <% unless version.whodunnit.nil? %>
      <p><strong><%= t("admin.user") %>:</strong> <%= User.find(version.whodunnit).email %></p>
    <% end %>


    <% if version.item.present? and version.item[:name].present? %>
      <p><strong><%= t("admin.field") %>:</strong> <%= version.item.class.human_attribute_name(version.item.name) %></p>
    <% end %>

    <p><strong><%= t("admin.event") %>:</strong> <%= version.event %></p>
    <p><strong><%= t("admin.changed_at") %>:</strong> <%= version.created_at %></p>
    <%= render partial: "admin/history/changeset", locals: { changeset: version.changeset } %>
    <pre>
      <%= version.object_changes %>
    </pre>

    <br>
    <% unless version.event == "create" %>
      <%= form_with url: admin_history_revert_changes_path do |f| %>
        <%= f.hidden_field :id, value: version.id %>
        <%= f.submit :undo, class: 'p-2 m-2 rounded bg-red-600 text-white absolute bottom-0 right-0' %>
      <% end %>
    <% end %>
  </div>
<% end %>
