<%# locals: (version:, item:) %>
<nav class="flex gap-1 items-center">
  <h4 class="font-medium text-gray-500 inline" title="Historikk">
    <span class="sr-only">Historikk</span>
    <%= inline_svg_tag "history", class: "h-6 w-6" %>
  </h4>
  <% if item.versions.count > 1 %>
    <% if version.previous.present? %>
      <%= link_to "Forrige", admin_history_path(version.previous), class: "link" %>
    <% else %>
      <span class="text-gray-400 cursor-not-allowed">Forrige</span>
    <% end %>
    <%= version.index + 1 %> av <%= item.versions.count %>
    <% if version.next.present? %>
      <%= link_to "Neste", admin_history_path(version.next), class: "link" %>
    <% else %>
      <span class="text-gray-400 cursor-not-allowed">Neste</span>
    <% end %>
  <% else %>
      <span class="text-gray-400">
        Eneste versjon
      </span>
  <% end %>
</nav>
