<div class="max-w-md w-full space-y-8">
  <div>
    <%= image_tag 'logo.svg', alt: 'LNU logo', width: 200, height: 200, class: 'mx-auto h-12 w-auto' %>
    <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
      Endre ditt passord
    </h2>
  </div>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), class: 'mt-8 space-y-6'), html: { method: :put } do |f| %>
    <%= f.hidden_field :reset_password_token %>
    <div class="rounded-md shadow-sm -space-y-px">
      <div class="relative">
        <%= f.label :password, 'Nytt Passord', class: 'sr-only' %>
        <% if @minimum_password_length %>
          <p class="absolute -bottom-1.5 left-2 -mt-px inline-block px-1 text-xs font-medium text-gray-500 bg-white z-20"><%= @minimum_password_length %> tegn er minimum passord lengde</p>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: 'passwordField z-0', placeholder: '******', minlength: '6', required: true %>
      </div>
      <div>
        <%= f.label :password_confirmation, 'Passord', class: 'sr-only' %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'passwordField fieldLast z-10', placeholder: '******', required: true %>
      </div>
    </div>
    <div class="mt-4">
      <%= render partial: 'devise/shared/submit_button', locals: { text_on_button: "Endre ditt passord"} %>
    </div>
  <% end %>
</div>
