<div class="content max-w-md mt-6 mx-auto p-4 w-full">
  <div>
    <%= render 'devise/shared/back' %>
    <h1>
      <%= t('simple_form.labels.user.forgot_password') %>
    </h1>
  </div>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, class: 'vertical_form') do |f| %>
    <div class="rounded-md shadow-sm -space-y-px">
      <div>
        <%= f.input :email, autofocus: true, html_input: { class: 'fieldFirst fieldLast' }, required: true %>
      </div>
    </div>
    <div class="mt-4">
      <%= render partial: 'devise/shared/submit_button', locals: { text_on_button: t('simple_form.labels.user.password_reset')} %>
    </div>
  <% end %>

</div>
