<%#
Modal wrapper
  - modal_id
  - block (any modal content)
%>
<div
  data-controller="modal"
  aria-modal="true"
  data-modal-target="wrapper"
  data-modal-id="<%= modal_id %>"
  role="dialog"
  class="hidden"
>
  <div class="modal-background" data-modal-target="background">
    <div class="modal modal--with-header-and-footer content">
      <nav class="modal-close-button">
        <%= button_tag data: {
          action: "click->modal#close",
          modal_target: 'closeButton'
        }, class: "p-4 -mt-4 -ml-4 bg-white inline-flex content-center items-center" do %>
          <%= inline_svg_tag 'x', class: 'inline-block' %>
          <%= t("close") %>
        <% end %>
      </nav>
      <main>
        <%= capture(&block) %>
      </main>
    </div>
  </div>
</div>
