<%#
Modal wrapper
  - modal_id (string)
  - modal_classes (string)
  - block (any modal content, add div with class modal-header and modal-footer and modal-content to structure)
%>
<div
  data-controller="modal"
  aria-modal="true"
  data-modal-target="wrapper"
  data-modal-id="<%= modal_id %>"
  role="dialog"
  class="hidden transition-all"
>
  <div class="modal-background" data-modal-target="background">
    <div class="modal content  <%= modal_classes if defined? modal_classes %>">
      <nav class="modal-close-button">
        <%= button_tag type: "button",
               data: {
                action: "click->modal#close",
                modal_target: 'closeButton'
              }, class: "p-4 -mt-4 -ml-4 bg-white inline-flex content-center items-center" do %>
          <%= inline_svg_tag 'x', class: 'inline-block' %>
          <%= t("close") %>
        <% end %>
      </nav>
      <main>
        <%= capture(&block) %>
      </main>
    </div>
  </div>
</div>
