<h1>New Facility</h1>

<%= form_with model: facility do |form| %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title, class: "border-4" %>
  </div>
  <div>
    <%= form.label :space %>
    <%= form.collection_select :space_id, Space.all, :id, :address, class: "border-4" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
