<h1>New Facility</h1>

<%= form_with model: facility do |form| %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title, class: "border-4" %>
  </div>
  <div>
    <%= form.label :icon %>
    <%= form.text_field :icon, class: "border-4" %>
  </div>
  <div>
    <%= form.label :facility_category %>
    <%= form.collection_select :facility_categories, FacilityCategory.all, :id, :title, class: "border-4" %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
