<%#
Locals:
- facility (one Facility)
- form (Form for a new or existing Space)
- facility_review (a new or existing facility review)
%>

<li
  data-controller="hide"
  class="flex items-center gap-1.5">
  <%= form.simple_fields_for :facility_reviews,
                             facility_review,
                             # Child index is used to make sure that the form fields are
                             # named after the facility id, so duplicate facility fields can be
                             # found and synced with sync_fields_with_same_id.js
                             child_index: facility[:id] do |f| %>
    <%= f.hidden_field :facility_id, value: facility[:id] %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :id, value: facility_review.id %>
    <fieldset class="mt-1 w-full">
        <legend>
          <div class="flex gap-2 text-lg items-center">
            <h4 class="text-base <%= "line-through text-gray-600" if facility[:review] == "impossible" %>"><%= facility[:title] %></h4>

            <span class="text-sm text-gray-400 items-center flex gap-1" title="<%= t('simple_form.labels.space_facility.review') %>">
              <%= inline_svg_tag "facility_status/#{facility[:review]}", class: "#{" text-black " if facility[:review] == "impossible" }" %>
              <%= t("tooltips.others_experience.#{facility[:review]}") %>
            </span>

            <button type="button" data-action="hide#toggleHidden" class="edit-button edit-button--small collapsable">
              <span class="text">
                <%= t('space_edit.edit') %>
              </span>
              <%= inline_svg_tag 'edit', alt: 'Redigér', title: 'Redigér' %>
            </button>

          </div>
        </legend>

        <% if facility[:description] %>
          <div class="text-gray-400 mb-1.5">
            <%= facility[:description] %>
          </div>
        <% end %>

        <div class="w-fit hidden mt-1 mb-6" data-hide-target="hideable">

          <%= form.fields_for :space_facilities, facility_review do |space_facilities_form| %>
            <%= space_facilities_form.label :description, class: "text-sm mb-1 block" do  %>
              <%=  t('simple_form.labels.space_facility.description') %>:
            <% end %>
            <%= space_facilities_form.hidden_field :facility_id, input_html: { value: facility[:id]} %>
            <%= space_facilities_form.input :description,
                         label: false,
                         placeholder: false,
                         label_html: {
                           class: "text-xs mb-1"
                         },
                         required: false,
                         input_html: {
                           value: facility[:description]
                         } %>
          <% end %>


          <fieldset>
            <legend class="text-xs mb-1">
              <%= t('simple_form.labels.space_facility.experience') %>
            </legend>
            <div class="radio-slider" role="radiogroup" data-hide-target="focusable">
              <% @experiences.each_with_index do |value|  %>
                <%=
                  f.radio_button :experience,
                    value,
                    checked: f.object.experience.blank? ?
                      value == 'unknown' :
                      value == f.object.experience

                %>

                <%= f.label :"experience_#{value}" do %>
                  <span class="flex flex-col items-center gap-0.5 text-sm">
                    <%= inline_svg_tag "facility_status/#{FacilityReview::ICON_FOR_EXPERIENCE[value]}",
                       class: "w-5 h-5 inline-block"
                    %>
                    <%= t("reviews.form.facility_experience_particular_tense.#{value}") %>
                  </span>
                <% end %>
              <% end %>
            </div>
          </fieldset>
        </div>
      </fieldset>
  <% end %>
</li>
