<%# locals: (space:, field:, title_tag:, title_text:, button_classes:, block:) %>

<% content = capture(&block) %>

<%= turbo_frame_tag "#{dom_id(space)}-#{field}", class: 'inline-editing' do %>
  <section>
    <header class="editable-header-type-<%= title_tag %> flex gap-3 items-baseline">
      <%= content_tag title_tag, class: 'mt-0 editable-header' do %>
       <%= title_text %>
      <% end %>
      <% unless content.blank? %>
        <%= link_to edit_field_path(space, field),
                  "aria-label": "Rediger #{title_text}",
                  id: "edit_#{field}",
                  class: button_classes do %>
          <span class="text">
            Rediger
          </span>
          <%= inline_svg_tag 'edit', alt: 'Redigér', title: 'Redigér' %>
        <% end %>
      <% end %>
    </header>
    <main>
      <% if content.blank? %>
        <%= link_to edit_field_path(space, field),
                    "aria-label": "Rediger #{title_text}",
                    id: "edit_#{field}" do %>
          <%= render "spaces/edit/common/empty_editable_field", field_title: title_text %>
        <% end %>
      <% else %>
        <%= content %>
      <% end %>
    </main>
  </section>
<% end %>
