<%=
  ## When SpaceGroup has the same field, show this header:
  if @space.space_group && (SpaceGroup.method_defined? field)
    form.label field,
                 t("space_show.only_for_space", title: @space.title),
                 class: "block font-bold text-sm text-lnu-blue mt-8 mb-2"
  end
%>

<div class="content">
  <%= form.input field, as: :rich_text_area, label: false %>
</div>

<%=
  ## When SpaceGroup has the same field, show the field:
  if @space.space_group && (SpaceGroup.method_defined? field)
    form.fields_for :space_group do |space_group_form| %>
    <div>
      <%= space_group_form.label field,
                           t('space_show.common_to_all_in_group', group: @space.space_group.title),
                           class: "block font-bold text-sm text-lnu-blue mt-8 mb-2"%>
      <%= space_group_form.input field, as: :rich_text_area, label: false  %>
    </div>
  <% end %>
<% end %>
