<div>
  <h2 class="font-bold text-xl mt-4 mb-2">
    <%= Space.human_attribute_name(field) %>
  </h2>
  <%=
    ## For when SpaceGroup has the same field, show this header:
    if @space.space_group && (SpaceGroup.method_defined? field)
      tag.h3 t("space_show.only_for_space", title: @space.title)
    end
  %>

  <%= form.input field, as: :rich_text_area, label: false %>
</div>

<%=
  ## For when SpaceGroup has the same field, show the field:
  if @space.space_group && (SpaceGroup.method_defined? field)
    form.fields_for :space_group do |space_group_form| %>
    <div>
      <h3 class="font-bold text-xl mt-4 mb-2">
        <%= space_group_form.label field,
                                   t('space_show.common_to_all_in_group', group: @space.space_group.title) %>
      </h3>
      <%= space_group_form.input field, as: :rich_text_area, label: false  %>
    </div>
  <% end %>
<% end %>
