<%= turbo_frame_tag "#{dom_id(@space)}-#{@field}" do %>
  <%= simple_form_for @space do |form| %>
    <section class="bg-white p-4 pt-6 -mx-4 shadow-lg md:shadow-2xl rounded-lg">
      <h2 class="text-2xl mb-4 font-bold"><%= t('space_edit.editing_field_for_title', field: Space.human_attribute_name(@field), title: @space.title) %></h2>
      <%= edit_field @field, form %>
      <nav class="flex gap-4 items-baseline flex-wrap my-4">
        <%= button_tag type: 'submit', class: 'button'  do  %>
          <%= t('space_edit.save_changed_field_html', field: Space.human_attribute_name(@field)) %>
        <% end  %>
        <%= link_to t('space_edit.cancel_changed_space'), @space %>
      </nav>
      <% if @field == "basics" %>
        <div class="mt-6 pt-4 flex justify-end border-t border-gray-200">
          <% if @space.deleted? %>
            <%= form_with model: @space, local: false, class: "inline" do |form| %>
              <%= form.hidden_field :deleted, value: false %>
              <%= form.button type: "submit",
                              data: { turbo_confirm: "Er du sikker på at du vil gjenopprette dette lokalet?" },
                              class: "link flex items-center gap-2 bg-transparent border-none cursor-pointer" do %>
                <%= inline_svg_tag "reload" %> Gjennopprett lokale
              <% end %>
            <% end %>
          <% else %>
            <%= form_with model: @space, local: false, class: "inline" do |form| %>
              <%= form.hidden_field :deleted, value: true %>
              <%= form.button type: "submit",
                              data: { turbo_confirm: "Er du sikker på at du vil markere lokalet som nedlagt?" },
                              class: "link text-red-800 flex items-center gap-2 bg-transparent border-none cursor-pointer" do %>
                <%= inline_svg_tag "delete" %> Sett som nedlagt
              <% end %>
            <% end %>
          <% end %>
        </div>
    <% end %>
    </section>
  <% end %>
<% end %>
