<div data-mapbox-target="searchBox" class="hidden">
  <div data-controller="modal" class="modal-background" data-modal-target="background">
    <div class="modal modal--with-header-and-footer">
      <nav class="modal-header">
        <%= button_tag data: {
          modal_target: 'closeButton',
          action: "click->mapbox#toggleSearchBox"
        }, class: "hover:underline p-4 -mt-4 -ml-4 inline-flex content-center items-center" do %>
          <%= inline_svg_tag 'x', class: 'inline-block' %>
          Lukk
        <% end %>
        <h2 class="font-bold text-center">
          <%= t('space_filter.edit_filter') %>
        </h2>
      </nav>
      <section class="modal-content">
        <%= render partial: "spaces/index/search_form" %>
      </section>
      <nav class="modal-footer">
        <%= button_tag data: {
          modal_target: 'closeButton',
          action: "click->mapbox#toggleSearchBox"
        }, class: "modal-button" do %>
          <%= inline_svg_tag 'search', class: 'inline-block' %>
          <%= t('space_filter.show_spaces', count: '') %>
        <% end %>
      </nav>
    </div>
  </div>
</div>
