<%= form_with class: "m-4",
  data: { action: "mapbox#submitSearch" } do |f| %>
  <div class="my-4">
    <%= f.label :location, class: "text-xl font-bold" %>
    <div class="mt-2">
      <%= f.text_field :location,
        placeholder: "Fredrikstad",
        class: "w-full appearance-none rounded shadow border border-gray-300 focus:ring-lnu-pink focus:border-lnu-pink",
        data: { mapbox_target: "location" }%>
    </div>
  </div>

  <p class="text-md text-center mt-2 mb-1">Flere filtere</p>
  <hr />
  <p class="text-xl font-bold mt-4">Fasiliteter</p>

  <% FacilityCategory.all.each do |category| %>
    <div class="my-4">
      <%= f.label category.title, class: "text-l mb-4 font-bold" %>
      <div class="mt-2">
        <% category.facilities.each do |facility| %>
          <%= f.label facility.title, class: "flex my-1" do %>
            <%= f.check_box facility.title,
              class: "h-5 w-5 text-lnu-pink focus:ring-lnu-pink border-gray-300 rounded",
              name: facility.id,
              data: { mapbox_target: "facility" }
            %>
          <%= inline_svg "facilities/#{facility.icon}", class: "mx-2" %>
          <%= facility.title %>
        <% end %>
      <% end %>
      </div>
    </div>
    <hr />
  <% end %>

  <div class="my-4">
    <%= f.label :space_types, class: "text-xl mb-4 font-bold" %>
    <div class="mt-2">
      <% SpaceType.all.each do |space_type| %>
        <%= f.label space_type.type_name, class: "flex my-1" do %>
          <%=
            f.check_box space_type.type_name,
              class: "h-5 w-5 text-lnu-pink focus:ring-lnu-pink border-gray-300 rounded mr-2",
              name: space_type.id,
              data: { mapbox_target: "spaceType" }
            %>
          <%= space_type.type_name %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
