<%= form_with class: "m-4" do |f| %>
  <div class="my-4 w-full p-4 rounded shadow border border-gray-300">
    <p>2 Lokaler i liste</p>
    <p>Ingen kontaktet</p>
  </div>
  <hr />

  <p class="my-4 font-bold text-center">Endre filter</p>

  <div class="my-4">
    <%= f.label :location, class: "text-xl font-bold" %>
    <div class="mt-2">
      <%= f.text_field :location, placeholder: "Fredrikstad", class: "w-full appearance-none rounded shadow border border-gray-300 focus:ring-lnu-pink focus:border-lnu-pink" %>
    </div>
  </div>
  <hr />

  <% FacilityCategory.all.each do |category| %>
    <div class="my-4">
      <%= f.label category.title, class: "text-xl mb-4 font-bold" %>
      <div class="mt-2">
        <% category.facilities.each do |facility| %>
          <%= f.label facility.title, class: "flex my-1" do %>
            <%= f.check_box facility.title, name: "facility[#{category.id}][#{facility.id}]", class: "h-5 w-5 text-lnu-pink focus:ring-lnu-pink border-gray-300 rounded" %>
            <%= inline_svg "facilities/#{facility.icon}", class: "mx-2" %>
            <%= facility.title %>
          <% end %>
        <% end %>
      </div>
    </div>
    <hr />
  <% end %>

  <div class="my-4">
    <%= f.label :space_types, class: "text-xl mb-4 font-bold" %>
    <div class="mt-2">
      <% SpaceType.all.each do |space_type| %>
        <%= f.label space_type.type_name, class:"flex my-1" do %>
          <%= f.check_box space_type.type_name, name: "space_type[#{space_type.id}]", class: "h-5 w-5 text-lnu-pink focus:ring-lnu-pink border-gray-300 rounded mr-2" %>
          <%= space_type.type_name %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
