<%= form_with data: { mapbox_target: 'form', action: "keydown->mapbox#closeModal" } do |f| %>
  <div class="mb-8">
    <%= f.label t("space_filter.location"), class: "text-xl font-bold" %>
    <div class="mt-2">
      <div data-mapbox-target="location">
        <select id="locationInput"
                class="w-full rounded shadow border border-gray-300 focus:ring-lnu-pink focus:border-lnu-pink"
                placeholder=<%= t("space_filter.location") %>
                data-controller="locationsearch">
        </select>
      </div>
    </div>
  </div>

  <div  class="my-8">
    <h3 class="text-xl font-bold mt-4">
      <%= Facility.model_name.human(count: 2) %>
    </h3>
    <div class="divide-y border-b border-t my-4">
      <% FacilityCategory.includes(:facilities).all.each do |category| %>
        <details open>
          <summary class="py-4 text-l font-bold cursor-pointer">
            <%= category.title %>
          </summary>

          <div class="mb-4">
            <% category.facilities.each do |facility| %>
              <%= f.label facility.title, class: "flex gap-2 my-1" do %>
                <%= f.check_box facility.title,
                  class: "h-5 w-5 text-lnu-pink focus:ring-lnu-pink border-gray-300 rounded",
                  name: facility.id,
                  data: { mapbox_target: "facility" }
                %>
              <%= inline_svg_tag "facilities/#{facility.icon}" if facility.icon %>
              <%= facility.title %>
            <% end %>
          <% end %>
          </div>
        </details>
      <% end %>
    </div>
  </div>

  <div class="my-8">
    <h3 class="text-xl font-bold mt-4"><%= SpaceType.model_name.human(count: 2) %></h3>
    <div class="mt-2">
      <% SpaceType.all.each do |space_type| %>
        <%= f.label space_type.type_name, class: "flex gap-2 my-1" do %>
          <%=
            f.check_box space_type.type_name,
                        class: "h-5 w-5 text-lnu-pink focus:ring-lnu-pink border-gray-300 rounded",
                        name: space_type.id,
                        data: { mapbox_target: "spaceType" }
          %>
          <%= space_type.type_name %>
        <% end %>
      <% end %>
    </div>
  </div>

<% end %>
