<%= form_with data: { mapbox_target: 'form' } do |f| %>
  <div class="my-4">
    <%= f.label t("space_filter.location"), class: "text-xl font-bold" %>
    <div class="mt-2">
      <div data-mapbox-target="location">
        <select id="locationInput"
                class="w-full rounded shadow border border-gray-300 focus:ring-lnu-pink focus:border-lnu-pink"
                placeholder=<%= t("space_filter.location") %>
                data-controller="locationsearch">
        </select>
      </div>
    </div>
  </div>

  <p class="text-md text-center mt-2 mb-1"><%= t("space_filter.more_filters") %></p>
  <hr />
  <p class="text-xl font-bold mt-4"><%= Facility.model_name.human(count: 2) %></p>

  <% FacilityCategory.includes(:facilities).all.each do |category| %>
    <div class="my-4">
      <%= f.label category.title, class: "text-l mb-4 font-bold" %>
      <div class="mt-2">
        <% category.facilities.each do |facility| %>
          <%= f.label facility.title, class: "flex my-1" do %>
            <%= f.check_box facility.title,
              class: "h-5 w-5 text-lnu-pink focus:ring-lnu-pink border-gray-300 rounded",
              name: facility.id,
              data: { mapbox_target: "facility" }
            %>
          <%= inline_svg_tag "facilities/#{facility.icon}", class: "mx-2" %>
          <%= facility.title %>
        <% end %>
      <% end %>
      </div>
    </div>
    <hr />
  <% end %>

  <div class="my-4">
    <p class="text-xl font-bold mt-4"><%= SpaceType.model_name.human(count: 2) %></p>
    <div class="mt-2">
      <% SpaceType.all.each do |space_type| %>
        <%= f.label space_type.type_name, class: "flex my-1" do %>
          <%=
            f.check_box space_type.type_name,
              class: "h-5 w-5 text-lnu-pink focus:ring-lnu-pink border-gray-300 rounded mr-2",
              name: space_type.id,
              data: { mapbox_target: "spaceType" }
            %>
          <%= space_type.type_name %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
