<%# locals: (view_as:, spaces:, space_count:, page_size: %>
<%= render 'spaces/index/space_listing_header', space_count: %>
<% if spaces.present? %>
  <% if view_as == "table" %>
    <%= render "spaces/table_views/space_table_view", spaces: %>
  <% else # default to map view %>
    <% spaces.each do |space| %>
      <%= render "spaces/index/space_listing", space: space  %>
    <% end %>
  <% end %>
  <% if space_count > page_size %>
    <div class="content">
      <hr />
      <p class="text-gray-700 italic">
        <%= t('space_filter.showing_only_page_size_spaces', count: page_size) %>
        <%= t('space_filter.filter_or_zoom') %>
      </p>
      <hr />
    </div>
  <% end %>
<% end %>
