<%# locals: (space: ) %>

<%#
  Partial for rendering a space listing in the search results.
%>

<div class="relative">
  <%= link_to space_path(space.id),
            class: "unstyled-link space-listing  shadow-xl
                  #{@filtered_facilities&.any? ? "shadow-gray-300" : "shadow-gray-200"}
                  bg-white rounded-md max-w-lg",
            data: {
              "set-as-selected-when-this-space-is-open": space.id,
              "turbo-frame": "spaces-open-here" # This updates the spaces-open-here frame
            } do %>

      <!-- Space image(s) -->

      <%= render partial: "spaces/index/image_preview", locals: { images: space.images } %>

      <!-- Space title -->

      <div class="p-4 flex flex-col gap-2">
        <h3 class="text-base  mt-0 font-bold pr-8">
          <%= space.title %>
        </h3>
        <!-- Meta information listing -->

        <div class="flex gap-4 items-start">

          <div class="flex items-center gap-1 flex-shrink-0" title="<%= t('space_show.number_of_reviews', count: space.reviews.size) %>">
            <%= inline_svg_tag 'star', class: "#{space.star_rating ? 'text-pink-500' : 'text-gray-300'} h-5 w-5" %>
            <span class="text-gray-500">
            <%=  space.star_rating_s %>
              <% if space.reviews.size > 0 %>
                <span class="opacity-50">(<%= space.reviews.size %>)</span>
            <% end %>
          </span>
          </div>

          <div class="flex gap-1 items-top text-gray-500 truncate">
            <%= inline_svg_tag 'building', class: 'text-gray-400 h-4 w-4 flex-shrink-0 relative top-1' %>
            <span class="text-ellipsis truncate">
              <%= space.space_types_joined %>
            </span>
          </div>

        </div>
    </div>
    <!-- Filtered facilites listing -->
    <%= render partial: 'spaces/index/space_facility_listing', locals: { space: space, filtered_facilities: @filtered_facilities } if @filtered_facilities.present?  %>
<% end %>
  <!-- List status -->

  <div class="absolute top-2.5 right-2 text-white">
    <div class="<%= space.images.any? ? "text-white" : "text-lnu-pink/30" %> text-sm">
      <%= render 'personal_space_lists/space_in_list/list_status_for_space', personal_space_list: @active_personal_space_list, space: %>
    </div>
  </div>
</div>
