<%#
  Partial for rendering a space listing in the search results.
%>

<%= link_to space_path(space), class: "unstyled-link space-listing" do %>

  <div class="mt-4 mb-12 max-w-lg">

    <!-- Space image(s) -->

    <%= render partial: "spaces/index/image_preview", locals: { images: space.images } %>

    <!-- Space title -->

    <h3 class="text-xl mt-2.5 mb-2.5 font-bold">
      <%= space.title %>
    </h3>

    <!-- Meta information listing -->

    <div class="flex gap-4 mb-2.5">

      <div class="flex gap-2" title="<%= t('space_show.number_of_reviews', count: space.reviews.count) %>">
        <%= inline_svg_tag 'star', class: "#{space.star_rating ? 'text-pink-500' : 'text-gray-300'}" %>
        <span>
          <%=  space.star_rating_s %>
          <% if space.reviews.count > 0 %>
              <span class="opacity-50">(<%= space.reviews.count %>)</span>
          <% end %>
        </span>
      </div>

      <div class="flex gap-2">
          <%= inline_svg_tag 'building', class: 'text-gray-500' %>
          <span>
            <%= space.space_type.type_name %>
          </span>
      </div>

    </div>

    <!-- Filtered facilites listing -->

    <%= render partial: 'spaces/index/space_facility_listing', locals: { space: space, filtered_facilities: filtered_facilities } if filtered_facilities  %>

  </div>
<% end %>
