<%

=begin

Partial for rendering a space listing in the search results.

TODO:
- Remove hard coded values, and replace with dynamic ones from Rails.
  - Rating (4.2 -> space.rating)
  - Number of Ratings (5 -> space.number_of_ratings)
  - Facility listing based on search (currently, overnatting, kjøkken, lydanlegg, dansegulv)
    - Probability for each facility, as shown below
    - Icon for each? Not currently shown, but in Figma

=end

%>

<%= link_to space_path(space), class: "unstyled-link" do %>

  <div class="mt-4 mb-12 max-w-lg hover:opacity-70">

    <!-- Space image(s) -->

    <%= render partial: "spaces/index/image_preview", locals: { images: space.images } %>

    <!-- Space title -->

    <h3 class="text-xl mt-2.5 mb-2.5 font-bold">
      <%= space.title %>
    </h3>

    <!-- Meta information listing -->

    <div class="flex gap-4 mb-2.5">

      <div class="flex gap-2">
        <%= inline_svg_tag 'star', class: "#{space.star_rating ? 'text-pink-500' : 'text-gray-300'}" %>
        <span>
          <%=  space.star_rating_s %>
          <span class="opacity-50">(5)</span>
        </span>
      </div>

      <div class="flex gap-2">
          <%= inline_svg_tag 'building' %>
          <span>
            <%= space.space_type.type_name %>
            <% if space.fits_people %>
                <span>(<%= space.fits_people %> elever)</span>
            <% end %>
          </span>
      </div>

    </div>

    <!-- Filtered facilites listing -->

    <%= render partial: 'spaces/index/space_facility_listing', locals: { space: space, filtered_facilities: filtered_facilities } if filtered_facilities  %>

  </div>
<% end %>
