<%# locals: (spaces:) %>
<% if spaces.any? %>
  <%= render 'spaces/index/space_listing_header', space_count: @pagy.count %>
  <%= render 'spaces/index/pagination' %>
  <hr class="my-8" />
  <ul id="space-list" class="flex flex-col gap-8">
      <% spaces.each do |space| %>
        <li><%= render "spaces/index/space_listing", space: space  %></li>
      <% end %>
    </ul>
  <hr class="my-8" />
  <%= render 'spaces/index/pagination' %>
<% else %>
  <div class="text-lnu-pink flex flex-col place-items-center place-content-center md:h-screen-2/3">
    <%= inline_svg_tag 'empty',  class: 'max-w-24 inline-block', alt: "" %>
    <span class="text-gray-800"><%= t('space_filter.spaces_that_might_work', count: 0 ) %></span>
  </div>
<% end %>

