<h2><%= t('reviews.form.lastly_about_your_visit:') %></h2>

<%= render partial: 'shared/radio_slider', locals: {
  form: form,
  field: :how_much,
  legend: t('reviews.form.how_much_of_the_space_did_you_use?'),
  values: Review.how_muches.keys.reverse,
  labels: Review.how_muches.keys.reverse.map { |value|
    render partial: 'reviews/form/radio_text_label', locals: { text: t("reviews.data.#{value}") }
  },
  custom_input: capture do %>
    <div data-show-on-radio-button-value-target="elementToShow">
      <%= form.label :how_much_custom, t('reviews.data.custom_how_much') %>
      <%= form.input :how_much_custom,
                     label: false,
                     input_html: { style: "width: auto" },
                     wrapper_html: { class: "inline-block" }  %>
    </div>
  <% end
} %>

<hr />

<%= render partial: 'shared/radio_slider', locals: {
  form: form,
  field: :how_long,
  legend: t('reviews.form.how_long_did_you_use_the_space?'),
  values: Review.how_longs.keys.reverse,
  labels: Review.how_longs.keys.reverse.map { |value|
    render partial: 'reviews/form/radio_text_label', locals: { text: t("reviews.data.#{value}") }
  },
  custom_input: capture do %>
  <div data-show-on-radio-button-value-target="elementToShow">
    <%= form.label :how_long_custom, t('reviews.data.custom_how_long') %>
    <%= form.input :how_long_custom,
                   label: false,
                   nput_html: { style: "width: auto" },
                   wrapper_html: { class: "inline-block" } %>
  </div>
<% end
 } %>

<hr />

<%= field_set_tag t('reviews.form.did_you_have_to_pay?'),
                  class: "my-3",
                  data: { controller: 'show-on-radio-button-value' } do   %>
  <div class="radio-slider">
    <%  ['yes', 'no'].each_with_index do |value| %>
      <%=
        form.radio_button :payment,
                          value,
                          checked: (value == 'yes') && form.object.price?,
                          data: {
                            "show-on-radio-button-value-target":
                              "radioButton#{' toggleOnChecked' if value.start_with? 'yes'}"
                          }
      %>
      <%= form.label :"payment_#{value}" do  %>
        <%= render partial: 'reviews/form/radio_text_label', locals: { text: t("generic.#{value}") } %>
      <% end  %>
    <% end  %>
  </div>
  <div data-show-on-radio-button-value-target="elementToShow">
    <%= form.label :price, t('reviews.form.how_much?') %>
    <%= form.input :price,
                   label: false,
                   as: :tel,
                   input_html: { min: 0, style: "width: auto" },
                   wrapper_html: { class: "inline-block" } %> NOK
  </div>
<% end %>

<hr />
