<%#
    Local params:
    - form
=
%>

<div data-review-form-target="titleForm">
  <%= form.label :title, class: 'h3', data: {
    'review-form-target': 'title_label_been_there'
  } do %>
    <span data-review-form-target="titleLabelBeenThere"><%= t('reviews.form.how_would_you_summarize_the_experience?') %></span>
    <span class="hidden" data-review-form-target="titleLabelNotAllowed"><%= t('reviews.form.why_were_you_not_allowed') %></span>

  <% end %>
  <%= form.input :title,
                 label: false,
                 class: "block w-full my-2" %>
</div>

<%= form.label :comment,  t('reviews.form.what_do_you_want_to_say_to_others?'), class: 'h3' %>
<%= form.input :comment,
               label: false,
               as: :text,
               input_html: { size: '12x12' },
               placeholder: t('reviews.form.what_did_you_experience_any_tips_for_others'),
               class: "block w-full my-2" %>

