<% content_for(:html_title) { t("devise.sessions.user.account") } %>

<div class="content max-w-md mx-auto p-4">
  <h1>
    <%= t('menu.account') %>
  </h1>
  <p><%= t('devise.sessions.user.logged_in_as') %> <strong><%= current_user.email %></strong></p>
  <p>
    <%= link_to t("simple_form.labels.user.signout"),
                destroy_user_session_path,
                method: :delete %>
  </p>
  <p>
    <%= link_to t("simple_form.labels.user.edit_account"),
                edit_user_registration_path %>
  </p>

</div>
