<div class="max-w-md mx-auto p-4 w-full space-y-8">
  <div>
    <%= image_tag 'logo.svg', alt: 'LNU logo', width: 200, height: 200, class: 'mx-auto h-12 w-auto' %>
    <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
       <%=  t('simple_form.labels.user.session.heading_new') %>
    </h2>
    <p class="mt-2 text-center text-sm text-gray-600">
       <%=  t('simple_form.labels.user.or') %>
      <%= link_to t('simple_form.labels.user.register_instead'), new_registration_path(resource_name), class: 'font-medium text-lnu-pink hover:text-lnu-blue' %>
    </p>
  </div>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), class: 'vertical_form') do |f| %>
    <input type="hidden" name="remember" value="true">
    <div class="rounded-md shadow-sm -space-y-px">
      <div>
        <%= f.input :email, input_html: { class: "fieldFirst" }, autofocus: true %>
      </div>
      <div>
        <%= f.input :password, input_html: { class: "fieldLast" } %>
      </div>
    </div>
    <div class="flex items-center justify-between mt-4">
      <div class="flex items-center">
        <% if devise_mapping.rememberable? %>
          <%= f.input :remember_me, as: :boolean %>
        <% end %>
      </div>
      <div class="text-sm">
        <%= link_to t('simple_form.labels.user.forgot_password'), new_password_path(resource_name), class: 'font-medium p-2 rounded text-lnu-blue hover:text-lnu-pink focus:outline-none focus:ring-2 focus:outline-ring-offset-2 focus:ring-lnu-pink' %>
      </div>
    </div>
    <div class="mt-4">
      <%= render partial: 'devise/shared/submit_button', locals: { text_on_button: t('simple_form.labels.user.submit_login') } %>
    </div>
  <% end %>

  <div>
    <%= form_tag('/auth/google_oauth2', method: 'post', "data-turbo": false) do %>
      <button type='submit'>Login with Google</button>
    <% end %>
  </div>
</div>
