<%# locals: (personal_space_list:, space:, collapsable: true) %>

<%
  button_styling_for_adding_to_list = "p-1.5 pr-2.5 rounded-md z-2 #{"collapsable" if collapsable} #{"inline-flex gap-1.5 items-center border border-current hover:border-lnu-pink" unless collapsable}  text-current hover:text-white hover:bg-lnu-pink hover:shadow-md group"
  button_styling_for_removing_from_list = "relative p-1.5 pr-2.5 rounded-md z-2 collapsable  text-lnu-pink  hover:text-white hover:bg-lnu-pink hover:shadow-md group"
%>

<%= turbo_frame_tag dom_id_for_list_status_for_space(space) do %>
  <% if personal_space_list.blank? %>
    <%= button_to add_to_personal_space_list_space_path(personal_space_list_id: "new", id: space.id), class: button_styling_for_adding_to_list do  %>
      <%= inline_svg "heart-outlined", class: "w-6 h-6 #{ "w-6 h-6 group-hover:p-0.5" if collapsable }" %> <span class="text"><%= t('personal_space_lists.add_to_new_list') %></span>
    <% end %>
  <% elsif personal_space_list.excludes_space?(space) %>
    <%= button_to add_to_personal_space_list_space_path(personal_space_list_id: personal_space_list.id, id: space.id), class: button_styling_for_adding_to_list do  %>
      <%= inline_svg "heart-outlined", class: "w-6 h-6 #{ "w-6 h-6 group-hover:p-0.5" if collapsable }" %> <span class="text">Legg i liste</span>
    <% end %>
  <% else %>
    <%= button_to remove_from_personal_space_list_space_path(personal_space_list_id: personal_space_list.id, id: space.id), method: :delete, class: button_styling_for_removing_from_list do  %>
      <%= inline_svg "heart-filled", class: "w-6 h-6 group-hover:p-1 text-lnu-pink group-hover:text-white" %>
      <% unless collapsable %>
        <span class="text-lnu-pink absolute left-8 w-24 group-hover:text-transparent">Lagt i liste</span>
      <% end %>
      <span class="text">Fjern fra liste</span>
    <% end %>
  <% end %>
<% end %>
