<%# locals: (form:) %>
<h3 class="text-xs font-bold mb-3 text-lnu-blue">
  <%= Facility.model_name.human(count: 2).capitalize %>
</h3>
<% @filterable_facility_categories.each do |category| %>
  <div
    data-controller="nested-checkbox-filter"
    data-check-all-if-parent-is-checked="true">
    <label class="flex gap-1 my-1 items-top text-sm font-bold text-gray-800" for="facility-category-<%= category.id %>">
      <input
        id="facility-category-<%= category.id %>"
        type="checkbox"
        class="h-5 w-5

              text-lnu-pink indeterminate:bg-gray-500
              focus:ring-lnu-pink border-gray-300 rounded"
        data-nested-checkbox-filter-target="parent" />
      <%= category.title %>
    </label>

    <div class="ml-4 pb-2" data-nested-checkbox-filter-target="childrenContainer">
      <% category.facilities.each do |facility| %>
        <%= form.label "facilities_#{facility.id}", class: "flex gap-1 my-1 text-gray-800 items-top" do %>
          <%= form.check_box "facilities",
                             {
                               id: "facilities_#{facility.id}",
                               multiple: true,
                               class: "h-5 w-5 relative top-0.5 text-lnu-pink focus:ring-lnu-pink border-gray-300 rounded",
                               data: {
                                 'nested-checkbox-filter-target': 'child',
                                 mapbox_target: "facility"
                               },
                               onchange: "!this.id.startsWith('duplicate-') && this.form.requestSubmit()",
                               checked: params[:facilities]&.include?(facility.id.to_s)
                             },
                             facility.id.to_s,
                             nil
          %>
          <%= inline_svg_tag "facilities/#{facility.icon}" if facility.icon %>
          <%= facility.title %>
        <% end %>
      <% end %>
    </div>
  </div>
  <% end %>
