<%# locals: (form:) %>
<h3 class="text-xl font-bold my-4"><%=  t("space_filter.location") %></h3>
<div class="mt-2">
    <%= form.label :filter_by_map_bounds, class: "flex gap-1 items-top" do %>
        <%= form.check_box :filter_by_map_bounds,
                           {
                             class: "h-5 w-5 relative top-0.5 text-lnu-pink focus:ring-lnu-pink border-gray-300 rounded",
                             onchange: "this.form.requestSubmit()",
                             checked: params[:filter_by_map_bounds] == "off" ? nil : "checked"
                           },
                           'on',
                           'off'
        %>
        <%= t("space_filter.filter_by_map_bounds") %>
    <% end %>
  <hr class="my-4" />
    <% Fylke.includes(:kommuner).all.each do |fylke| %>
      <div
        data-controller="nested-checkbox-filter"
        data-check-all-if-parent-is-checked="false"
        data-hide-unless-parent-is-checked="true"

      >
        <% fylke_checked = params[:fylker]&.include?(fylke.id.to_s) %>
        <%= form.label "geo_area_#{fylke.id}",  class: "flex gap-1 my-1 items-top" do  %>
          <%= form.check_box :fylker,
                             {
                               id: "geo_area_#{fylke.id}",
                               multiple: true,
                               data: {
                                 'nested-checkbox-filter-target': 'parent',
                               },
                               class: "h-5 w-5 relative top-0.5 text-lnu-pink focus:ring-lnu-pink border-gray-300 rounded",
                               onchange: "this.form.requestSubmit()",
                               checked: fylke_checked
                             },
                             fylke.id.to_s,
                             nil
          %>
          <%= fylke.name %>
        <% end %>

        <div class="ml-4 pb-2 hidden" data-nested-checkbox-filter-target="childrenContainer">
        <% fylke.kommuner.each do |kommune| %>
          <%= form.label "geo_area_#{kommune.id}", class: "flex gap-1 my-1 items-top" do %>
            <%= form.check_box :kommuner,
                               {
                                 id: "geo_area_#{kommune.id}",
                                 multiple: true,
                                 data: {
                                   'nested-checkbox-filter-target': 'child',
                                 },
                                 class: "h-5 w-5 relative top-0.5 text-lnu-pink focus:ring-lnu-pink border-gray-300 rounded",
                                 onchange: "this.form.requestSubmit()",
                                 checked: params[:kommuner]&.include?(kommune.id.to_s)
                               },
                               kommune.id.to_s,
                               nil
            %>
            <%= kommune.name %>
          <% end %>
        <% end %>
        </div>
      <% end %>
    </div>
  <%= form.hidden_field :north_west_lat, value: params[:north_west_lat], class: "text_field", data: { mapbox_target: "northWestLatInput" } %>
    <%= form.hidden_field :north_west_lng, value: params[:north_west_lng], class: "text_field", data: { mapbox_target: "northWestLngInput" } %>
    <%= form.hidden_field :south_east_lat, value: params[:south_east_lat], class: "text_field", data: { mapbox_target: "southEastLatInput" } %>
    <%= form.hidden_field :south_east_lng, value: params[:south_east_lng], class: "text_field", data: { mapbox_target: "southEastLngInput" } %>

</div>
