<%# locals: ( space:, personal_space_list: nil, personal_data_on_space_in_list: nil, filtered_facilities:, non_filtered_facilities: ) %>
  <tr
    id="<%= dom_id_for_space_table_row(space) %>"
    data-set-as-selected-when-this-space-is-open="<%= space.id %>"
  >
    <th scope="row">
      <div class="w-[20rem]">
          <%= link_to space_path(space),
                      class: "space-listing group",
                      data: {
                        "turbo-frame": "spaces-open-here", # This updates the spaces-open-here frame
                        "turbo-action": "advance" # Does not update browser history
                      } do %>
              <h3 class="text-xl mb-2.5 font-bold mt-0">
                <%= space.title %>
              </h3>
              <%= render 'spaces/components/meta', space: %>
        <% end %>
        <div class="absolute bottom-2.5 right-2.5 text-lnu-pink">
          <%= render 'personal_space_lists/space_in_list/list_status_for_space', list: personal_space_list, space: space %>
        </div>
      </div>
    </th>

    <% if personal_space_list.present? %>
      <td class="personal" >
        <div class="w-[21rem]">
          <%= render 'spaces/table_views/space_list_contact_status_and_notes_for_table_row', personal_space_list:, personal_data_on_space_in_list:, space: space %>
        </div>
      </td>
    <% end %>

    <td>
      <div class="min-w-[22rem]">
        <div class="flex flex-col gap-1 ">
          <% unless filtered_facilities or non_filtered_facilities %>
            <% space.relevant_space_facilities.each do |space_facility| %>
              <%= render "facility_reviews/facility_with_edit_button",
                         facility: space_facility.facility,
                         space_facility: space_facility,
                         facility_category: space_facility.facility.facility_categories.first
              %>
            <% end %>
          <% end %>
        <% if filtered_facilities.present? %>
            <h3 class="font-bold mt-4 sr-only">Valgte:</h3>
            <%
                filtered_space_facilities = space.space_facilities.filter{|sf| filtered_facilities.detect{|facility| facility.id == sf.facility_id }}
                filtered_space_facilities.each do |space_facility|
              %>
                <%= render "facility_reviews/facility_with_edit_button",
                           facility: space_facility.facility,
                           space_facility: space_facility,
                           facility_category: space_facility.facility.facility_categories.first
                %>
               <% end %>
        <% end %>

          <% if non_filtered_facilities.present? %>
              <% if filtered_facilities.present? and non_filtered_facilities.present? %>
                <h3 class="mt-4 mb-1">Flere fasiliteter:</h3>
              <% end %>
            <%
              non_filtered_space_facilities = space.space_facilities.filter{|sf| non_filtered_facilities.detect{|facility| facility.id == sf.facility_id }}
              relevant_non_filtered_space_facilities = non_filtered_space_facilities.filter{|sf| sf.relevant? }
              relevant_non_filtered_space_facilities.each do |space_facility|
            %>
              <%= render "facility_reviews/facility_with_edit_button",
                         facility: space_facility.facility,
                         space_facility: space_facility,
                         facility_category: space_facility.facility.facility_categories.first
              %>
            <% end %>
          <% end %>
          </div>
        </div>
      </td>

    <td>
      <div>
        <%= inline_editable :how_to_book, space: space do %>
          <%= render_space_and_group_field space, :how_to_book %>
        <% end %>
        <div id="<%= "#{ dom_id(space)}" %>-contacts"  class="flex flex-col min-h-full justify-center">
          <%= turbo_frame_tag dom_id_for_space_contacts_stream(space), class: 'flex flex-col' do %>
            <%= turbo_stream_from dom_id_for_space_contacts_stream(space) %>
            <%= render partial: "space_contacts/space_contact", collection: space.space_contacts %>
          <% end %>
          <div class="flex flex-col items-center">
            <%= turbo_frame_tag dom_id_button_for_new_space_contact_for(space) do %>
              <div>
                <%= button_to_modal dom_id_new_space_contact_modal(space),
                                    id:  dom_id_new_space_contact_modal(space),
                                    class: "edit-button" do %>
                      <span class="text">
                        <%= t('space_contacts.new_contact') %>
                      </span>
                  <%= inline_svg_tag "plus" %>
                <% end %>

                <%= modal_for dom_id_new_space_contact_modal(space), "modal--with-header-and-footer" do  %>
                  <%= render "space_contacts/new", space_contact: SpaceContact.new(space:) %>
                <% end %>
              </div>
            <% end %>

          </div>
        </div>
      </div>
    </td>


  </tr>
