<%# locals: (personal_space_list:, space:, personal_data_on_space_in_list: nil) %>
<td
  id="<%= dom_id_for_space_list_status_and_notes_for_space_in_table_row(space) %>"
  class="personal personal--status-<%= personal_data_on_space_in_list.contact_status %>" >
  <div class="w-[21rem]">
    <div class="h-full flex flex-col place-content-center">
      <% if personal_data_on_space_in_list.reload&.present? %>
        <div class="flex flex-col gap-1 justify-center h-full group/confined">
          <%= render "personal_space_lists/contact_status/form",
                     personal_data_on_space_in_list:  %>
          <%= render "personal_space_lists/personal_notes/form",
                     personal_data_on_space_in_list: %>
        </div>
      <% else %>
        <div class="flex flex-col place-content-center place-items-center text-gray-300">
          <details>
            <summary class="list-none cursor-help text-center">Legg i listen for 책 skrive notater</summary>
            <p class="text-gray-800 text-center">For 책 legge i listen s책 trykk p책 "hjertet" (<%= inline_svg "heart-outlined", class: "inline-block h-4 w-4" %>) </p>
          </details>
        </div>
      <% end %>
    </div>
  </div>
</td>
