<% # Locals:
   # - facility (one Facility)
%>
<%
  icon = facility.icon
  title = facility.title
%>
<li
  class="flex items-center gap-1.5">
  <%= form_with model: FacilityReview.new do |form| %>
  <fieldset>
    <legend>
      <%= inline_svg "facilities/#{icon}" %>
      <%= title %>
    </legend>
    <%= form.label :"experience_nil", t('reviews.form.facility_experience_particular_tense.dont_know') %>
    <%= form.radio_button :experience, nil %>
    <% FacilityReview.experiences.keys.reverse.each do |value|  %>
      <%= form.label :"experience_#{value}", t("reviews.form.facility_experience_particular_tense.#{value}") %>
      <%= form.radio_button :experience, value %>
    <% end  %>
  </fieldset>
  <% end  %>
</li>
