<%# locals: (personal_space_list:) %>
<%= form_with(model: personal_space_list, class: "contents") do |form| %>
  <% if personal_space_list.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(personal_space_list.errors.count, "error") %> prohibited this personal_space_list from being saved:</h2>

      <ul>
        <% personal_space_list.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label :title, "Navn på listen" %>
    <%= form.text_field :title %>
  </div>


  <div class="mb-4">
    <%= form.label :spaces_ids, "Lokaler" %>
    <%= form.collection_select(:spaces_ids, Space.all, :id, :title, { selected: personal_space_list.spaces.pluck(:id) }, { :multiple => true } )%>
  </div>

  <% if personal_space_list.active? %>
    <%= button_to "Deaktiver liste", deactivate_personal_space_list_personal_space_list_path(personal_space_list), method: :post, class: "button no-submit-styling" %>
  <% else %>
    <%= button_to "Aktiver liste", activate_personal_space_list_personal_space_list_path(personal_space_list), method: :post, class: "button" %>
  <% end %>

    <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium" %>
  </div>
<% end %>
