<%# locals: (personal_space_list:) %>
<%= simple_form_for(personal_space_list) do |form| %>
  <% if personal_space_list.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= personal_space_list.errors.count %> feil hindret oss å lagre:</h2>

      <ul>
        <% personal_space_list.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.input :title %>
  </div>

    <div class="inline">
    <%= form.submit class: "button submit" %>
  </div>
<% end %>
