<div id="<%= dom_id personal_space_list %>" class="content">
  <h1>
    <%= personal_space_list.title %>
  </h1>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
        <%= personal_space_list.user_id %>
    </p>


  <p class="my-5">
    <strong class="block font-medium mb-1">Spaces:</strong>
    <%= personal_space_list.spaces.map(&:title).join(", ") %>
  </p>


  <% if action_name != "show" %>
    <%= link_to "Show this personal space list", personal_space_list, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this personal space list', edit_personal_space_list_path(personal_space_list), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
