<%= turbo_frame_tag "spaces-open-here",
                    class: "empty:hidden border-l border-t border-gray-200 space-open-in-sidebar z-5 fixed left-[20rem] top-[7rem] right-0 h-screen-below-desktop-menu bg-white overflow-auto overscroll-contain" %>
<div
  id="<%= dom_id @personal_space_list %>"
  class=""
>
  <header class="px-4 h-[3.5rem] py-2 fixed top-0 md:top-desktop-menu-height left-0 right-0 grid grid-cols-[minmax(10%,auto),1fr,minmax(10%,auto)] gap-4 align-center items-center text-sm">
    <div>
      <%= link_to spaces_path do %>
        ← Finn lokaler
      <% end %>
    </div>
    <div class="flex gap-6 items-baseline justify-center">
      <div>
        Aktiv liste:
      <%= link_to edit_personal_space_list_path(@personal_space_list),
                    class: "unstyled-link inline-flex gap-0 items-center group collapsable-wrapper" do %>
        <h1 class="font-bold inline-block mr-2 text-gray-700 group-hover:text-lnu-pink">
          <%= @personal_space_list.title %>
        </h1>
        <span class="edit-button edit-button--small collapsable collapsable">
        <%= inline_svg "edit" %>
          <span class="text">
            <%= t('personal_space_lists.edit_list') %>
          </span>
        </span>
      <% end %>
      </div>
      <nav>
        <%= link_to "Bytt liste", personal_space_lists_path %>
      </nav>
    </div>
    <div class="flex justify-end">
      Del liste TODO
    </div>

  </header>
  <main class="fixed
        bg-gray-100
        z-4
        overscroll-x-contain overflow-auto
        top-[3.5rem] md:top-[7rem] left-0 right-0 bottom-24 md:bottom-0 border-t border-gray-200">
    <%= render "spaces/table_views/space_table_view",
               spaces: @personal_space_list.spaces,
               personal_space_list: @personal_space_list  %>
    <div class="border-b border-gray-200 sticky left-0 pt-4 pb-12 w-screen flex flex-col gap-2 items-center text-center bg-gray-100 z-5">
      <%= inline_svg "empty", class: "text-gray-300" %>
      <p>
        Litt tomt?<br />
        <%= link_to "Finn flere lokaler", spaces_path %>
      </p>
    </div>
  </main>

</div>
