<%= turbo_frame_tag "spaces-open-here",
                    class: "empty:hidden border-l border-t border-gray-200 space-open-in-sidebar z-5 fixed left-[22rem] top-[7rem] right-0 h-screen-below-desktop-menu bg-white overflow-auto overscroll-contain" %>
<div
  id="<%= dom_id @personal_space_list %>"
  class=""
>
  <header class="px-4 border-b border-gray-200 py-2 sticky top-0 left-0 flex gap-4 flex-wrap justify-between items-center">
    <div class="inline-flex gap-2 items-center">
        <%= link_to edit_personal_space_list_path(@personal_space_list),
                    class: "
                      edit-button edit-button--small
                      collapsable" do %>
        <h1 class="font-bold inline-block mr-2">
          <%= @personal_space_list.title %>
        </h1>
        <%= inline_svg "edit" %>
        <span class="text">
            <%= t('space_edit.edit') %>
          </span>
        <% end %>
      <div>
        <%= render "personal_space_lists/card/space_list", personal_space_list: @personal_space_list %>
      </div>
    </div>
    <div class="flex gap-2">
      <div class="flex gap-2 items-center collapsable">
          <span class="text">Tilhører
            <%= @personal_space_list.user.name %>
          </span>
        <div class="avatar flex-shrink-0">
          <%= image_tag @personal_space_list.user.gravatar_url %>
        </div>
      </div>
    </div>


  </header>
  <main class="fixed
        bg-gray-100
        z-4
        overscroll-x-contain overflow-auto
        top-[7rem] left-0 right-0 bottom-0 border-t border-gray-200">
    <%= render "spaces/table_views/space_table_view",
               spaces: @personal_space_list.spaces,
               personal_space_list: @personal_space_list  %>
  </main>
</div>
