<div class="w-screen">
    <div id="<%= dom_id @personal_space_list %>">
      <h1>
        <%= @personal_space_list.title %> <% if @personal_space_list.active? %> (aktiv) <% end %>
      </h1>

      <% if @personal_space_list.active? %>
        <%= button_to "Deaktiver liste", deactivate_personal_space_list_personal_space_list_path(@personal_space_list), method: :post, class: "button" %>
      <% else %>
        <%= button_to "Aktiver liste", activate_personal_space_list_personal_space_list_path(@personal_space_list), method: :post, class: "button" %>
      <% end %>
      <%= link_to 'Edit this personal_space_list', edit_personal_space_list_path(@personal_space_list), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= link_to 'Back to personal_space_lists', personal_space_lists_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>

      <% unless @personal_space_list.user == current_user %>
        <p class="my-5">
          <strong class="block font-medium mb-1">Listen tilhører:</strong>
          <%= @personal_space_list.user.name %>
        </p>
      <% end %>

      <h2 class="mx-8">Lokaler</h2>
      <div class="w-screen max-w-screen relative overflow-x-scroll">
        <% @personal_space_list.personal_space_lists_spaces.each do |space_information| %>
          <h2><%= space_information.space.title %></h2>
          <p>
            Status: <%= space_information.contact_status %>
          </p>
          <p>
            Notater:
            <%= render "personal_space_lists_spaces/personal_notes/form", personal_space_list_space: space_information %>
          </p>
        <% end %>
      </div>

    </div>
</div>
