
<div class="border-2 border-green-400 mt-4">
  <h3><%= @space_group.title %></h3>
  <h3>How to book</h3>
  <%= @space_group.how_to_book %>
  <h3>Terms</h3>
  <%= @space_group.terms %>
  <h3>Pricing</h3>
  <%= @space_group.pricing %>
  <h3>Who can use</h3>
  <%= @space_group.who_can_use %>
  <h3>About</h3>
  <%= @space_group.about %>
</div>
