<%= link_to space_path(space), class: "group w-48 unstyled-link space-listing rounded-lg bg-white shadow border border-gray-100 p-4 max-w-lg" do %>

    <!-- Space image(s) -->

    <%= render partial: "spaces/new/space_duplicate_image_preview", locals: {
      images: space.images
    } %>

    <!-- Space title -->

    <h4 class="text-xl mt-2.5 mb-1 font-bold group-hover:text-lnu-pink">
        <%= space.title %>
    </h4>

    <!-- Meta information listing -->

    <div class="flex flex-col gap-4 mb-2.5">
      <%=  space.address %>,
      <%=  space.post_number %>
      <%=  space.post_address %>

      <div class="flex gap-2">
        <%= inline_svg_tag 'building', class: 'text-gray-500' %>
        <span>
          <%= space.space_type.type_name %>
        </span>
      </div>
    </div>

    <!-- Filtered facilites listing -->

    <%= render partial: 'spaces/index/space_facility_listing', locals: { space: space, filtered_facilities: filtered_facilities } if filtered_facilities  %>

<% end %>
