<li><%= render "admin/menu/admin_menu_item", text: t('admin.dashboard'), path: admin_dashboard_index_path %></li>
<li><%= render "admin/menu/admin_menu_item", text: t('admin.history'), path: admin_history_index_path %></li>
<li><%= render "admin/menu/admin_menu_item", text: t('admin.space_type'), path: admin_space_types_path %></li>
<li><%= render "admin/menu/admin_menu_item", text: t('admin.sync_statuses.menu_item'), path: admin_sync_statuses_path %></li>
<li><%= render "admin/menu/admin_menu_item", text: "#{t('admin.jobs')} ↗", path: admin_mission_control_jobs_path %></li>
