<%= form_with model: space do |form| %>
  <%= edit_field 'title', form %>
  <%= edit_field 'space_type', form %>
  <%= edit_field 'where', form %>
  <%= edit_field 'space_owner', form %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
