<%= form.hidden_field :space_id, value: @review.space.id %>

<div class="content" data-controller="review-form">

  <%= render partial: 'reviews/form/type_of_contact', locals: {
    form: form
  } %>

  <div data-review-form-target="fullForm" class="hidden">

    <div data-review-form-target="organizationForm">
      <%= render partial: 'reviews/form/organization', locals: {
        form: form
      } %>
      <hr />
    </div>

    <div data-review-form-target="moreAboutYourStayForm">
      <%= render partial: 'reviews/form/more_about_your_stay', locals: {
        form: form
      } %>
      <hr />
    </div>

    <div data-review-form-target="starRatingForm">
      <%= render partial: 'reviews/form/star_rating', locals: {
        star_rating: @review.star_rating,
        form: form
      } %>
    </div>

    <div data-review-form-target="textBeenThereForm">
      <%= render partial: 'reviews/form/text_been_there', locals: {
        form: form
      } %>
    </div>

    <%= render partial: 'shared/form_error', locals: { model: @review } %>
  </div>
</div>
