<%= form.hidden_field :space_id, value: @review.space.id %>

<div class="flex flex-col gap-4 ">
  <%= render partial: 'shared/form_error', locals: { model: @review } %>

  <%= render partial: 'reviews/form/star_rating', locals: {
    star_rating: @review.star_rating,
    form: form
  } %>

  <%= render partial: 'reviews/form/comment', locals: {
    form: form
  } %>

  <%= render partial: 'reviews/form/organization', locals: {
   form: form
  } %>
</div>
