<h1>New Review</h1>

<%= form_with model: review do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title, class: "border-4" %>
  </div>
  <div>
    <%= form.label :comment %>
    <%= form.text_field :comment, class: "border-4" %>
  </div>
  <div>
    <%= form.label :price %>
    <%= form.text_field :price, class: "border-4" %>
  </div>
  <div>
    <%= form.label :star_rating %>
    <%= form.text_field :star_rating, class: "border-4" %>
  </div>
  <div>
    <%= form.label :user_id %>
    <%= form.collection_select :user_id, User.all, :id, :email, class: "border-4" %>
  </div>
  <div>
    <%= form.label :space_id %>
    <%= form.collection_select :space_id, Space.all, :id, :address, class: "border-4" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
