<% show_full_review = false unless defined?(:show_full_review) %>

<div class="p-6 flex flex-col gap-3">
<h3 class="reset-header-styles flex flex-col gap-3">

  <span class="font-bold inline-flex items-center gap-1" title="<%= review.star_rating.to_i %> / 5 <%= t('reviews.stars_given', count: review.star_rating.to_i) %>">
    <% if review.star_rating %>
    <% review.star_rating.to_i.times do %>
      <%= inline_svg_tag 'star', class: 'text-pink-600' %>
    <% end %>
    <% (5 - review.star_rating.to_i).times do %>
      <%= inline_svg_tag 'star', class: 'text-gray-200' %>
    <% end %>
    <span class="sr-only">
      <%= review.star_rating.to_i %> / 5
      <%= t("reviews.stars_given", count: review.star_rating.to_i) %>
    </span>
    <% else %>
      -
    <% end %>
  </span>

  <span class="flex gap-2 items-center ">
    <span class="avatar avatar--small w-6 h-6 flex-shrink-0">
      <%= image_tag review.user.gravatar_url %>
    </span>
    <span class="overflow-hidden text-sm leading-snug ">
      <span class="font-bold truncate">
        <%= review.user.name %>
      </span>
      <span class="truncate text-gray-500">
        <%= review.organization
        %>
      </span>
    </span>
  </span>
</h3>

<% if review.comment %>
  <div class="content">
    <% if show_full_review  %>
      <%= simple_format review.comment %>
    <% elsif review.comment.length <= 140 %>
      <%= simple_format review.comment %>
    <% else %>
        <%= simple_format truncate(review.comment, length: 130) %>
        <%= button_to_modal dom_id(review), class: "link" do %>
          <%= t('read_more') %>
        <% end  %>
      <%= modal_for dom_id(review) do %>
          <%= turbo_frame_tag review, src: review, loading: "lazy" do %>
            <%= render "shared/loading" %>
          <% end %>
      <% end %>
    <% end %>
  </div>
<% end  %>
</div>

