<% show_full_review = false unless defined?(:show_full_review) %>

<h3 class="reset-header-styles">
  <span class="font-bold flex gap-1">
    <%= inline_svg_tag 'star', class: 'text-pink-600' if review.star_rating %>
    <%= review.star_rating %>
    <span class="sr-only"><%= t("reviews.stars_given", count: review.star_rating) %></span>
    <% unless review.star_rating %>
      -
      <% if review.type_of_contact %>
        <%= t("activerecord.attributes.review.#{review.type_of_contact}") %>
      <% else  %>
        <%= t('reviews.not_used') %>
      <% end %>
    <% end %>
  </span>
</h3>

<% if review.comment %>
  <p>
    <% if show_full_review  %>
      <%= simple_format review.comment %>
    <% elsif review.comment.length <= 88 %>
      <%= review.comment %>
    <% else %>
      <%= truncate(review.comment, length: 88) %>
      <%= button_to_modal dom_id(review), class: "link" do %>
        <%= t('read_more') %>
      <% end  %>
      <%= modal_for dom_id(review) do %>
          <%= turbo_frame_tag review, src: review, loading: "lazy" do %>
            <%= render "shared/loading" %>
          <% end %>
      <% end %>
    <% end %>
  </p>
<% end  %>

<div class="flex gap-2 items-center mb-3">
  <div class="avatar flex-shrink-0">
    <%= image_tag review.user.gravatar_url %>
  </div>
  <div class="overflow-hidden text-sm leading-snug">
    <div class="font-bold truncate">
      <%= review.user.name %>
    </div>
    <div class="truncate text-gray-500">
     <%= review.organization
     %>
    </div>
  </div>
</div>


<% if review.how_much  %>
  <div class="flex gap-1">
    <%= inline_svg_tag 'building' %>
    <% if review.how_much == 'custom_how_much' %>
      <%= review.how_much_custom %>
    <% else  %>
        <%= t("reviews.data.#{review.how_much}") %>
    <% end  %>

  </div>
<% end %>

<% if review.how_long  %>
  <div class="flex gap-1">
    <%= inline_svg_tag 'calendar' %>
    <% if review.how_long == 'custom_how_long' %>
      <%= review.how_long_custom %>
    <% else  %>
      <%= t("reviews.data.#{review.how_long}") %>
    <% end  %>

  </div>
<% end %>

<% if review.been_there? %>
  <div class="flex gap-1">
    <%= inline_svg_tag 'money' %>
    <% if review.price %>
      <%= review.price %> kr
    <% else %>
      <%= t('reviews.data.did_not_pay') %>
    <% end %>
  </div>
<% end %>
