<% show_full_review = false unless defined?(:show_full_review) %>

<h3 class="reset-header-styles">
  <span class="font-bold inline-flex gap-1 relative">
    <%= inline_svg_tag 'star', class: 'text-pink-600' if review.star_rating %>
    <%= review.star_rating %>
    <span class="sr-only"><%= t("reviews.stars_given", count: review.star_rating.to_i) %></span>
    <% unless review.star_rating %>
      -
    <% end %>
  </span>
</h3>

<% if review.comment %>
  <p>
    <% if show_full_review  %>
      <%= simple_format review.comment %>
    <% elsif review.comment.length <= 140 %>
      <%= review.comment %>
    <% else %>
      <%= truncate(review.comment, length: 140) %>
      <%= button_to_modal dom_id(review), class: "link" do %>
        <%= t('read_more') %>
      <% end  %>
      <%= modal_for dom_id(review) do %>
          <%= turbo_frame_tag review, src: review, loading: "lazy" do %>
            <%= render "shared/loading" %>
          <% end %>
      <% end %>
    <% end %>
  </p>
<% end  %>

<div class="flex gap-2 items-center mb-3">
  <div class="avatar flex-shrink-0">
    <%= image_tag review.user.gravatar_url %>
  </div>
  <div class="overflow-hidden text-sm leading-snug">
    <div class="font-bold truncate">
      <%= review.user.name %>
    </div>
    <div class="truncate text-gray-500">
     <%= review.organization
     %>
    </div>
  </div>
</div>

<% if current_user == review.user %>
  <div class="flex gap-2 justify-between mt-auto items-center">
    <%= button_to_modal dom_id(review, :edit), class: "link" do %>
      <%= t('reviews.edit') %>
    <% end %>
    <%= modal_for dom_id(review, :edit), "modal--with-header-and-footer" do %>
      <%= turbo_frame_tag dom_id(review, :edit_modal), src: edit_review_path(review), loading: "lazy" do %>
      <% end %>
    <% end %>

    <%= link_to review_path(review), method: :delete, data: { confirm: t('reviews.delete_confirmation') }, class: 'link inline-flex gap-0 items-center' do %>
      <%= inline_svg_tag 'delete' %>
      <%= t('reviews.delete') %>
    <% end %>
  </div>
<% end %>
