<%= form_with model: @review do |form| %>
  <%= form.hidden_field :space_id, value: @review.space.id %>
  <div class="content">
    <h1><%= t('reviews.form.new_review_about_space', space_title: @space.title) %></h1>

    <fieldset>
      <legend class="h2"><%= t('reviews.form.have_you_been_there?') %></legend>
        <%= form.radio_button :type_of_contact, :been_there %>
        <%= form.label :type_of_contact_been_there do %>
          <%= t('generic.yes') %> <%= inline_svg 'facility_status/likely' %>
        <% end %>

        <%= form.radio_button :type_of_contact, :not_allowed %>
        <%= form.label :type_of_contact_not_allowed do %>
          <%= t('reviews.form.no_not_allowed') %> <%= inline_svg 'facility_status/unlikely' %>
        <% end %>

        <%= form.radio_button :type_of_contact, :only_contacted %>
        <%= form.label :type_of_contact_only_contacted do %>
          <%= t('reviews.form.no_only_contacted') %> <%= inline_svg 'facility_status/unknown' %>
        <% end %>
    </fieldset>

    <% unless @facilities_has_data.empty? %>
      <h2><%= t('reviews.form.were_you_allowed_to_use') %></h2>

      <%=
        render partial: 'reviews/new/facilities', locals: {
          facilities: @facilities_has_data,
          form: form
        }
      %>
    <% end  %>

    <% unless @facilities_no_data.empty? %>
      <h2><%= t('reviews.form.this_space_is_new_to_us!') %></h2>
      <h2><%= t('reviews.form.do_you_know_which_facilities_exist_and_can_be_loaned?') %></h2>

      <%=
        render partial: 'reviews/new/facilities', locals: {
          facilities: @facilities_no_data,
          form: form
        }
      %>
    <% end  %>

    <%= render partial: 'reviews/new/star_rating', locals: {
      star_rating: @review.star_rating,
      form: form
    } %>

    <hr />

    <%= form.label :title, t('reviews.form.how_would_you_summarize_the_experience?'), class: 'h2' %>
    <%= form.text_field :title, placeholder: t('reviews.form.for_example_not_allowed_to_sleep_in'), class: "block w-full my-2" %>

    <%= form.label :comment, t('reviews.form.what_do_you_want_to_say_to_others?'), class: 'h2' %>
    <%= form.text_area :comment, size: '12x12', placeholder: t('reviews.form.what_did_you_experience_any_tips_for_others'), class: "block w-full my-2" %>

    <h2><%= t('reviews.form.lastly_about_your_visit:') %></h2>

    <fieldset>
      <legend><%= t('reviews.form.how_much_of_the_space_did_you_use?') %></legend>
      <% ['one_room', 'more_rooms', 'whole_space'].each do |value|  %>
        <%= form.radio_button :how_much, value %>
        <%= form.label :"how_much_#{value}", t("reviews.data.#{value}") %>
      <% end  %>
    </fieldset>
    <hr />

    <fieldset>
      <legend><%= t('reviews.form.how_long_did_you_use_the_space?') %></legend>
      <% ['one_evening', 'one_weekend', 'other'].each do |value|  %>
        <%= form.radio_button :how_long, value %>
        <%= form.label :"how_long_#{value}", t("reviews.data.#{value}") %>
      <% end  %>
    </fieldset>
    <hr />

    <fieldset>
      <legend><%= t('reviews.form.did_you_have_to_pay?') %></legend>
      <% ['yes', 'no'].each do |value|  %>
        <%= form.radio_button :payment, value %>
        <%= form.label :"payment_#{value}", t("generic.#{value}") %>
      <% end  %>
    </fieldset>
    <%= form.label :price, t('reviews.form.how_much?') %>
    <%= form.telephone_field :price, min: 0 %> NOK
    <hr />

    <nav class="fixed bottom-0 left-0 right-0 bg-gray-300 block p-4">

      <% if @review.errors.any? %>
        <% @review.errors.full_messages.each do |message|%>\
          <p><%= message %> </p>
        <%end%>
      <%end%>


      <%= form.submit t('multistep_form_navigation.save') %>
    </nav>

  </div>
<% end  %>
