<%= modal_content_for :new_review_path, @review.space do %>

  <%= form_with model: @review do |form| %>
    <%= form.hidden_field :space_id, value: @review.space.id %>
    <%= form.hidden_field :type_of_contact, value: :only_contacted %>

    <div class="content">
      <h1><%= t('reviews.form.new_review_about_space', space_title: @review.space.title) %></h1>

      <%= render partial: 'shared/form_error', locals: { model: @review } %>

      <%= render partial: 'reviews/form/facility_reviews', locals: {
        form: form
      } %>

      <%= render layout: 'reviews/new/footer' do %>
        <div class="relative h-12">
          <div class="absolute flex gap-2 top-0 right-0 z-1">
            <%= link_to t('multistep_form_navigation.previous'),
              new_review_path(@space),
              class: 'modal-button' %>
            <%= form.submit t('multistep_form_navigation.save'), class: "modal-button bg-blue-400" %>
          </div>
        </div>
      <% end %>

    </div>
  <% end  %>

<% end%>
