<!DOCTYPE html>
<html>
  <head>
    <title>LokalerLnuNo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <% if current_user %>
      <nav class="grid grid-cols-12 mt-2">
        <%= link_to "Signout", destroy_user_session_path, class: "col-start-11 col-span-1 p-1 font-l text-center border-4 border-green-400 bg-green-100 rounded-md", method: :delete %>
      </nav>
    <% end %>
    <main data-controller="example" >
      <%= render 'shared/flash' %>
      <%= yield %>
    </main>
  </body>
</html>
