<!DOCTYPE html>
<html>
  <head>
    <title>LokalerLnuNo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="pb-24 md:pb-0 md:pt-14">
    <div id="flash">
      <%= render "shared/flash" %>
    </div>
    <%= render partial: "layouts/menu/menu" %>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
