<!DOCTYPE html>
<html>
  <head>
    <title>LokalerLnuNo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="flex flex-col-reverse md:flex-col h-screen">
    <%= render partial: "layouts/menu/menu" %>
    <main class="overflow-auto h-full">
      <%= render "shared/flash" %>
      <%= yield %>
    </main>
  </body>
</html>
