<!DOCTYPE html>
<html lang="no">
  <head>
    <title><%= content_for?(:html_title) ? "#{yield(:html_title)} | #{t("title")}" : t("title") %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= render 'application/favicon' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="<%= "pb-24" if current_user %> md:pb-0 md:pt-14 flex flex-col justify-between min-h-screen min-w-fit
    <%= " #{controller_name}_#{action_name} " %>
">
    <div id="flash">
      <%= render "shared/flash", flash: %>
    </div>
    <%= render partial: "layouts/menu/menu" %>
    <main class="flex-1">
      <%= yield %>
    </main>
    <footer class="<%= "md:sr-only" if controller_name == 'spaces' && action_name == 'index' %> px-2 pt-4 mt-4 pb-4 bg-gray-100">
      <ul class="divide-x flex z-1 relative">
        <li class="inline-block px-3">
          <%= link_to t("menu.privacy_policy"),
                      page_path("privacy_policy"),
                      class: 'hover:underline text-sm text-slate-600 hover:text-slate-900' %>
        </li>
        <li class="inline-block px-3">
          <%= link_to "lnu.no →",
                      "https://lnu.no",
                      class: 'hover:underline text-sm text-slate-600 hover:text-slate-900' %>
        </li>

      </ul>
    </footer>
  </body>
</html>
